[2017-10-05 14:49] mrivoal commented on #610
(and thanks, by the way, @subotic, for spotting this)

[2017-10-05 15:12] benjamingeer commented on #610
I think we should talk about IRI formats again with Lukas. The last discussion we had is in #595, where we basically decided:

* Only resource IRIs need to be dereferencable.
* Resource IRIs will be `handle.net` IRIs.
* Therefore there's no need for `rdfh.ch`.
* Since other IRIs don't need to be dereferencable, they can be whatever we want. We need to decide what they should be.

[2017-10-05 15:19] mrivoal commented on #610
You are right, I remember this issue. So we should follow your suggestion and take a moment to discuss it with Lukas on wednesday. Having this question set once and for all would be very convenient.

[2017-10-05 16:23] subotic commented on #619
I have managed to get full-text search working, at least the one in `HttpTriplestoreConnectorSpec` (this test was called `AllTriplestoreSpec` before). The syntax is almost the same as for Fuseki. The only difference is the URI if the SPARQL magic tag:

Fuseki: `<http://jena.apache.org/text#query>`
AllegroGraph: `<http://franz.com/ns/allegrograph/2.2/textindex/match>`

The index is created as part

[2017-10-06 08:50] subotic opened #626 "Knora IRI's (URI - URL - URN) some thoughts in preparation of next weeks meeting"
Following up on @benjamingeer post in #610:

[2017-10-06 09:11] subotic commented on #626
The following came to my mind: Why not use **internally** URNs for everything?

A URN would look something like this: `urn:knora:resource:[UUID]`

The reasoning is as follows. Knora is an application which will be used by the DaSCH but potentially also by others.

When we make decisions like what will be dereferenceable and what will not, then we decide this as the DaSCH. What if someone using Kno

[2017-10-06 09:17] benjamingeer commented on #626
@subotic I like that idea, because I'm actually a bit worried about using `handle.net` IRIs internally. What if `handle.net` disappears?

However, if we have different internal and external IRIs, wouldn't it be easier just to keep using `http://rdfh.ch` internally? That way, people wouldn't have to change their existing data to use URNs.

Also, we still have to answer the question: what IRI should

[2017-10-06 09:48] loicjaouen commented on #626
What is the definition of _internally_ here? internally as in within the scala code and triplestore and not dereferenceable?

[2017-10-06 09:50] benjamingeer commented on #626
Internally means in the triplestore, externally means what we return in the API.

Our last idea was to use dereferenceable IRIs both internally and externally. Ivan is suggesting that we could have non-dereferenceable resource IRIs internally, and convert them on the fly to dereferenceable ones as needed in the API.

This would be similar to what we're already doing for resource class and property

[2017-10-06 10:05] mrivoal commented on #626
Yes, but what about the idea of a simplified public sparql endpoint for Knora? Honestly, I have no idea as to how it should be done, but if we keep this idea, it may not be enough to have dereferencable IRIs served by the API. A Sparql endpoint should probably provide dereferencable IRIs, right?

[2017-10-06 10:15] subotic commented on #626
We would need to create a second triplestore with cleaned up (removed permissions, etc.) data anyway. In the same step, we could then transform every URN into a URL.

[2017-10-06 10:29] subotic commented on #626
The only reason to change internal IRIs to URNs would be to make it clearer that we are actually looking at an identifier which is not dereferenceable. For example,  having something like `urn:knora:users:007` versus `http://rdfh.ch/users/007`.

As far as the rewriting on the fly goes, both URLs and URNs will work the same.

[2017-10-06 10:40] benjamingeer commented on #626
That sounds good to me, but:

* Let's make sure triplestores actually accept URNs as IRIs.
* And for resources, let's include the project ID as we do now, to reduce the risk of UUID collisions.

[2017-10-06 10:43] subotic commented on #619
There seems to be an issue with `BIND` in combination with `FILTER` inside `OPTIONAL`

The data:
[code]

The query:

[code]

Works with `GraphDB` but throws a `Type error` with `AllegroGraph`

I will open a ticket with `AllegroGraph`.

[2017-10-06 10:44] benjamingeer commented on #619
We can always get rid of BIND, it's just there to make the query more readable.

[2017-10-06 10:56] subotic commented on #619
Yes, we can easily rewrite the template, but I still don't like bugs :-). I have sent them an email.

I will rewrite the template to get rid of the `BIND`.

[2017-10-06 11:11] loicjaouen commented on #626
@subotic : it makes sense (it means maintenance for us to move the data though)

[2017-10-06 11:21] tobiasschweizer commented on #619
Have you tried VALUES?

[2017-10-06 11:27] subotic commented on #619
VALUES?

[2017-10-06 11:42] tobiasschweizer commented on #619
<https://www.w3.org/TR/sparql11-query/#inline-data-syntax>

[2017-10-06 12:41] subotic opened #627 "Nondeterministic behaviour of EntityInfoV1.getPredicateObject"
Example:

[code]

The ordering of `de` and `fr` is arbitrary. So when the preferred and system language are `en`, then it is not clear what we will receive.

Issue came up while running `OntologyResponderV1Spec` in the `get all the resource classes with their property types for incunabula named graph` in conjunction with `AllegroGraph`.

[2017-10-06 12:53] benjamingeer commented on #627
The ordering of `de` and `fr` is arbitrary because it's also arbitrary in the triplestore. What behaviour would you like in this case?

[2017-10-06 12:54] benjamingeer commented on #627
Should we just sort by language code in order to have a deterministic response?

[2017-10-06 12:57] subotic commented on #627
Sorting by language code sounds good.

[2017-10-06 13:03] subotic commented on #619
Next problem, while creating a value with `createValue.scala.txt` returns: "Executing query failed:
No methods applicable for generic function #<standard-generic-function db.agraph.sbqe::merge-warnings> with args (#<db.agraph.sbqe::warn-invalid-triples-generated @ #x10005bbc3b2> #<db.agraph.sbqe::warn-invalid-triples-generated @ #x10005bb9ac2>) of classes (db.agraph.sbqe::warn-invalid-triples-gene

[2017-10-06 13:18] subotic commented on #626
Data:

[code]

Query:

[code]

Works both on `GraphDB` and `AllegroGraph`.

[2017-10-06 13:18] benjamingeer commented on #626
cool!

[2017-10-06 13:54] #627 closed

[2017-10-09 09:11] subotic commented on #619
Over the weekend I got a reply from AllegroGraph regarding the issue with BIND. They have fixed the bug. The fix will be available next month when the next version comes out.

[2017-10-09 09:13] benjamingeer commented on #619
Nice that they responded with a fix!

[2017-10-09 11:47] subotic commented on #619
There seems to be an issue with the dash in `knora-base` in conjunction with construct queries. The dash is returned escaped in the turtle:

The data:

[code]

The query:

[code]

Turtle response:
[code]

[2017-10-09 11:50] subotic commented on #619
Issue submitted to AllegroGraph support.

[2017-10-10 09:55] SepidehAlassi opened #629 "Lucene indexing"
when I import resources as bulk import without specifying graphdb as triplestore in application.conf, import is complete but fulltext search fails. I guess it is due to missing Lucene indexes for imported resources. By specifying graphdb as triplestore in application.conf file and redoing the import, fulltext search works!

Can you please tell me a bit about how configuration of triplestore affect

[2017-10-10 09:56] benjamingeer commented on #629
When you say "without specifying graphdb", do you mean that your `application.conf` is configured to use `graphdb-free`?

[2017-10-10 09:57] SepidehAlassi commented on #629
yes

[2017-10-10 09:58] benjamingeer commented on #629
Lucene is built into the triplestore, so it can't be independent of the triplestore type. Some triplestores include Lucene, others do full-text indexing in some other way. I don't know the situation with Lucene and GraphDB Free, but I thought it was basically the same as GraphDB SE. @subotic ?

[2017-10-10 10:02] SepidehAlassi commented on #629
@benjamingeer  I see. Thanks for replying so fast :-)

[2017-10-10 10:03] benjamingeer commented on #629
You're welcome!

[2017-10-11 08:45] tobiasschweizer opened #630 "Implement Standoff Search"
Provide standoff search possibilities: search for a text that is marked up in a certain way.

An example in Sparql:

Search for the word "Mesure" that is marked up as italic and happens to be inside a paragraph. The paragraph does not need to be the immediate parent.
[code]

[2017-10-11 08:52] tobiasschweizer commented on #630
Basic idea: use Lucene index to filter out all the text values that do not contain the search term (for optimization). Then select those text values that have an italic standoff tag that contains the search term: first get the whole text markup as italic and then check if it contains the search term using a FILTER with regex. Then check that the italic standoff node has some parent of type paragra

[2017-10-12 20:45] tobiasschweizer commented on #108
We implemented his already for v1 for resource classes. V2 simple Knora-api will provide mechanisms to use properties like dcterms:title etc.

[2017-10-12 20:45] #108 closed

[2017-10-12 20:48] tobiasschweizer commented on #14
Knora supports the creation of Representations that have a text file attached that is stored in SIpi.

[2017-10-12 20:49] #14 closed

[2017-10-12 20:50] tobiasschweizer commented on #39
I do not remember what this was about so I guess it is not relevant anymore.

[2017-10-12 20:50] #39 closed

[2017-10-12 20:53] tobiasschweizer commented on #74
This is also relevant for v2 search. It would be easy to show a preview of a StillImageRepresentation. But how would that work for a resource class that has no image file value?

[2017-10-12 20:54] tobiasschweizer commented on #119
I think this is solved since no one complained about this.

[2017-10-12 20:54] #119 closed

[2017-10-12 20:55] tobiasschweizer commented on #98
Handling annotations on external resources we do not control will become relevant for BEOL (related editions not based on Knora).

[2017-10-12 20:56] tobiasschweizer commented on #137
I won't do that.

[2017-10-12 20:56] #137 closed

[2017-10-12 20:57] tobiasschweizer commented on #150
I don't remember what this was, goes it is outdated.

[2017-10-12 20:57] #150 closed

[2017-10-12 20:58] tobiasschweizer commented on #164
Also relevant for v2!

But actually we cannot do anything like that without changing v1 at the same time.

[2017-10-12 21:00] tobiasschweizer commented on #236
I will check what we have already achieved with our current state of v2.

[2017-10-12 21:02] tobiasschweizer commented on #368
I solved this with an XSL transformation that is executed before the file is sent back to the client. The XSLT is stored in Sipi.

[2017-10-12 21:02] #368 closed

[2017-10-13 08:40] loicjaouen opened #632 "ontology prefix convention"
we should decide and document the ontology prefix to be used for:

- resource classes:
  as in [anything-onto.ttl](https://github.com/dhlab-basel/Knora/blob/8c1c0405e1616aa0b5a59cb4f79d81b787c2c6d4/webapi/_test_data/ontologies/anything-onto.ttl):

[code]

- property declaration:
  as in [anything-onto.ttl](https://github.com/dhlab-basel/Knora/blob/8c1c0405e1616aa0b5a59cb4f79d81b787c2c6d4/webapi/_t

[2017-10-13 09:00] loicjaouen commented on #626
We discussed this issue with @mrivoal , @benjamingeer and @lrosenth and came to the conclusion that we should keep [IRI](https://www.w3.org/TR/rdf11-primer/#section-IRI).

We liked the idea of URN to make sure that they are not dereferenceable and clearly set the limit of Knora's inside and outside world.

But we decided to stick to standards as much as possible to limit the risk of incompatibilit

[2017-10-13 09:00] #626 closed

[2017-10-13 10:15] benjamingeer commented on #632
I'll do this after #631 is merged.

[2017-10-13 11:52] loicjaouen commented on #632
An idea is to set `knora.org` for knora specific notions, for example:
- we store data in knora, named graphs can remain as `knora.org`
- resources should be able exist even if we replace knora one day, so a resource instance should be prefixed with `rdfh.ch`

@benjamingeer pointed out that since our last conversation on the subject, all new resources created in knora have the `rdfh.ch` prefix:
`h

[2017-10-16 06:41] subotic commented on #629
Yes, it should've, but I have found a slight discrepancy in the code. I will open a PR with the fix.

[2017-10-16 06:47] subotic commented on #629
@SepidehAlassi PR #633 has the fix. Could you maybe try it out and see if it works for you?

[2017-10-16 08:31] sacha-alex opened #635 "Is it possible to query/filter boolean values in Knora v1"
Hello,

  we are using boolean datatypes in our project and want to perform queries which includes conditions if these properties are True or False. Is there a way to do this in Knora V1?
Unfortunately there is no information in the documentation. There is a list of several value types at
http://www.knora.org/documentation/manual/rst/knora-api-server/api_v1/reading-and-searching-resources.html#sea

[2017-10-16 09:39] subotic commented on #619
The issue with the escaped dash is fixed by AllegroGraph and will be available in the next release. Until this release is available, I will pause with this issue.

[2017-10-16 12:52] subotic commented on #596
There are two additional tests failing in `ResourceCreationSpec`:
 - create a resource of type images:person
 - create two resources of type anything:thing in two different projects as the multi-project user

[2017-10-16 13:42] benjamingeer commented on #596
Additional tests failing might be my fault, I’ll have a look today.

[2017-10-16 14:41] #531 closed

[2017-10-17 09:10] benjamingeer commented on #635
It looks like this hasn't been implemented in v1, but I think it would not be hard to add it. How soon do you need it?

[2017-10-17 09:47] kilchenmann opened #636 "Icon in resourcetypes"
I'm wondering why there's no iconsrc in the list of resourcetypes. Should we really do a second request for each resource type to get the information about the icon. It would be nice to have the icon direct in the list of resource types. Is it possible to add the iconsrc property to the list of resource types?

[2017-10-17 09:48] benjamingeer commented on #636
Which route is that? (Can you give me an example of the API URL?)

[2017-10-17 09:59] kilchenmann commented on #636
I make a request to get a list of resource types from one  vocabulary e.g. incunabula:
http://localhost:3333/v1/resourcetypes?vocabulary=http%3A%2F%2Fwww.knora.org%2Fontology%2Fincunabula

![resourcetypes-by-voc](https://user-images.githubusercontent.com/4253580/31658846-8154ec28-b332-11e7-9e49-c10700ef6528.png)

To get the iconsrc I need to make a second request for the resource type (class) e.g.

[2017-10-17 10:34] benjamingeer opened #637 "Handle xsd:decimal values correctly in API v2 value update operations"
Note to self: `xsd:decimal` values need special treatment:

http://ontology2.com/the-book/decimal-the-missing-datatype.html

[2017-10-17 13:02] sacha-alex commented on #635
Thanks for the answer. It would be nice, if we could use it in the next couple of days (the sooner the better). Many thanks in advance.

[2017-10-17 13:03] benjamingeer commented on #635
That's very short notice. I don't know if I can do it in the next couple of days, but I will try to do it this week.

[2017-10-17 14:16] benjamingeer opened #638 "Make separate exception handlers for API v1 and v2"
Currently there is just one `KnoraExceptionHandler` for v1 and v2, which returns a plain JSON response containing a v1 API status code. For v2, it would be better to get rid of the status code and return JSON-LD.

[2017-10-18 07:57] tobiasschweizer commented on #635
@benjamingeer I think I can help you next week with that

[2017-10-18 08:32] tobiasschweizer opened #639 "Configure wich routes / versions can be used in Knora"
Could routes and versions be activated/disabled from within `application.conf`?

V2 should not be used yet on productive systems. This is especially important for the NIE-INE project.

@sacha-alex

[2017-10-18 08:34] benjamingeer commented on #639
NIE-INE’s fork would also have to be patched.

[2017-10-18 08:50] tobiasschweizer commented on #639
Good point, thx. Hopefully Knora main rep can be merged into the fork in the future, that would make updates easier.

[2017-10-18 14:20] subotic commented on #391
done some time ago.

[2017-10-18 14:20] #391 closed

[2017-10-19 08:43] #143 closed

[2017-10-19 08:43] #588 closed

[2017-10-20 08:17] tobiasschweizer commented on #630
@benjamingeer suggestes

[code]

Then in your query, instead of this:

`?standoffNode knora-base:standoffTagHasStartParent* ?standoffParentTag .`

you should be able to write this:

`?standoffNode knora-base:standoffTagHasStartParent ?standoffParentTag .`

Keep in mind that if you want the immediate parent, you will now have to use <http://www.ontotext.com/explicit>.

[2017-10-20 08:20] tobiasschweizer commented on #630
We should look how the XML db existDB handles searches involving markup:

- http://exist-db.org/exist/apps/doc/tuning.xml#D2.2.5
- http://exist-db.org/exist/apps/doc/indexing.xml#structuralidx

[2017-10-20 09:13] benjamingeer commented on #596
Most of the tests now work locally in #631, but there is still one that's disabled because I can't get the test to send text to CkEditor.

[2017-10-23 12:26] tobiasschweizer opened #641 "Add support for Apache Lucene Phrases in Fulltext search"
http://lucene.apache.org/core/7_1_0/queryparser/org/apache/lucene/queryparser/classic/package-summary.html#Terms

We should add support for phrases enclosed in double quotes.

If possible, this should also be applied to v1. -> `org/knora/webapi/util/search/ApacheLuceneSupport.scala` should be made version agnostic

[2017-10-23 12:29] tobiasschweizer opened #642 "check cardinality of ORDER BY Criterion in extended search"
If the ORDER BY criterion is a property whose occurrence/cardinality is not 1, then the extended search logic does not work correctly.

The ORDER BY criterion has to be included in a GROUP BY statement, returning more than one row if property occurs more than once

-> only accept a value as an ORDER BY criterion if the property has a cardinality of exactly 1.

[2017-10-23 12:58] tobiasschweizer commented on #636
@benjamingeer Should I help you work on that? Looks like a lot of fun.

[2017-10-23 14:40] mrivoal commented on #632
As I am moving forward to a new ontology, I would like an update on this.
General guidelines, as we discussed, would be awesome, but right now I would like to know what do we do with **lists**?

Until now, we (in Lausanne) have moved lists from  `<http://data.knora.org/anything/treeList>` to `<http://rdfh.ch/lists/treeList>`. But given our last discussion, I am not sure anymore that this is the ri

[2017-10-23 14:52] benjamingeer commented on #632
@mrivoal Yes, I think you're right. I'll be writing documentation about IRIs tomorrow.

[2017-10-23 14:53] benjamingeer commented on #636
@tobiasschweizer Yes please!

[2017-10-23 14:54] mrivoal commented on #632
Wonderful, thanks! :)

[2017-10-24 08:47] tobiasschweizer commented on #635
We would have to support a query like the following: <http://localhost:3333/v1/search/?searchtype=extended&property_id=http%3A%2F%2Fwww.knora.org%2Fontology%2Fanything%23hasBoolean&compop=EQ&searchval=1&show_nrows=25&start_at=0&filter_by_restype=http%3A%2F%2Fwww.knora.org%2Fontology%2Fanything%23Thing&filter_by_project=http%3A%2F%2Fdata.knora.org%2Fprojects%2Fanything>

[2017-10-24 09:24] tobiasschweizer commented on #635
@sacha-alex I have created a PR, it is ready for review.

[2017-10-24 10:53] tobiasschweizer opened #644 "LinkObj missing in Ontology Response"
<http://localhost:3333/v2/ontologies/classes/http%3A%2F%2Fapi.knora.org%2Fontology%2Fknora-api%2Fv2%23LinkObj>

[code]

[2017-10-24 12:49] benjamingeer opened #645 "Add sanity checks to KnarQL"
If I ask for an `incunabula:book` with a property `hasLeftSideband`, it would be nice to get an error message saying that a book can't possibly have a sideband (it has no cardinality for that property).

[2017-10-24 12:57] tobiasschweizer opened #646 "implement Knora API simple in response"
in `RouteUtilV2` the requested  `responseSchema: ApiV2Schema` could be either `ApiV2WithValueObjects` `ApiV2Simple` (content negotiation or URL path segment).

`ApiV2Simple` would have to be implemented for  the value types in  `KnoraResponseV2`.

[2017-10-24 12:58] tobiasschweizer commented on #645
I think we should add a sanity check for ourselves too.

[2017-10-24 13:00] tobiasschweizer commented on #645
We should also add a check that statements are related, e.g.

[code]

The needs to be a query path, the client should not be able to make unrelated statements.

[2017-10-24 13:23] benjamingeer commented on #630
[code]

To match part of a text value, it looks like we might be able to implement custom functions using the RDF4J SPARQL parser:

http://docs.rdf4j.org/custom-sparql-functions/

Then in KnarQL, we could write filters like this:

[code]

Otherwise, we could use statements instead of filters:

[code]

[2017-10-24 15:13] #635 closed

[2017-10-24 15:25] benjamingeer commented on #645
We should probably also disallow property path syntax.

[2017-10-25 07:53] tobiasschweizer commented on #644
ForbiddenResource needs to be added to the API ontologies.

[2017-10-25 09:15] tobiasschweizer opened #647 "add design documentation about SearchResponderV2"
I think this really needs a chapter in docs/design-documentation, giving an overview of how SearchResponderV2 works.

[2017-10-25 14:47] benjamingeer opened #648 "Serve salsah-gui and standoff ontologies"
[code]

The ontology responder doesn't have these ontologies, so we may need to encode them in Scala.

[2017-10-25 16:17] benjamingeer commented on #648
Actually it does have the standoff ontology, but in a completely separate data structure.

[2017-10-26 08:57] tobiasschweizer opened #650 "Gravsearch Query as POST request"
@benjamingeer asks: Could we support HTTP POST for search queries, in addition to GET? SPARQL supports this:

https://www.w3.org/TR/sparql11-protocol/#select-longpost-direct

[2017-10-26 10:00] subotic commented on #639
I think that the only issue with the merging of `develop` into their fork was because of us dropping `fuseki`. I don't know what the current state is regarding them using `GraphDB`.

[2017-10-26 11:30] #530 closed

[2017-10-26 11:30] #598 closed

[2017-10-26 16:18] lrosenth opened #652 "Integration tests fail for DrawingsGodsV1ITSpec with GraphDb Free docker"
GraphDb Docker aborts during this test

[code]

[2017-10-26 18:06] benjamingeer commented on #648
@tobiasschweizer We have to serve the standoff classes that are defined in `knora-base`, as part of serving the `knora-api` ontologies. But the problem is that, because these classes are derived from the `ValueBase` classes, they have predicates like `valueHasStartJDN`. The same thing could actually happen with any custom standoff tag, because you could always make a custom subclass of `StandoffDa

[2017-10-26 21:10] #629 closed

[2017-10-27 06:42] loicjaouen commented on #652
for which PR is it?

[2017-10-27 08:24] subotic commented on #652
I suppose on `develop`. I'm going to try it out now.

[2017-10-27 08:39] loicjaouen commented on #652
for a local test then

[2017-10-27 08:42] lrosenth commented on #652
Yes, develop branch!

On 27 Oct 2017, at 10:24, Ivan Subotic <notifications@github.com<mailto:notifications@github.com>> wrote:

I suppose on develop. I'm going to try it out now.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/dhlab-basel/Knora/issues/652#issuecomment-339906938>, or mute the thread<https://github.com/no

[2017-10-27 08:46] loicjaouen commented on #652
i don't understand: if a change broke the test, from wherever it comes from, how could have it been merged in `develop`

[2017-10-27 09:24] subotic commented on #652
@loicjaouen We are testing with `graphdb-se`. Maybe there is a problem with `graphdb-free`.

@lrosenth I suppose you are using `graphdb-free` 8.2.0 with our docker image (`dhlabbasel/graphdb-free`)?

[2017-10-27 10:03] subotic commented on #652
For me the `DrawingsGodsV1ITSpec` is working, but another one is failing:

[code]

[2017-10-27 10:05] subotic commented on #652
The `KnoraSipiScriptsV1ITSpec` fails both with `graphdb-se` and `graphdb-free`.

[2017-10-27 11:31] lrosenth commented on #652
Yes, GraphDB-free docker image...

Am 27.10.2017 um 11:24 schrieb Ivan Subotic <notifications@github.com<mailto:notifications@github.com>>:

@loicjaouen<https://github.com/loicjaouen> We are testing with graphdb-se. Maybe there is a problem with graphdb-free.

@lrosenth<https://github.com/lrosenth> I suppose you are using graphdb-free 8.2.0 with our docker image (dhlabbasel/graphdb-free)?

—
You a

[2017-10-27 12:31] subotic commented on #652
Got the newest `sipi` Docker image. Now all tests are passing locally with `graphdb-se` and `graphdb-free`.

[2017-10-30 08:40] tobiasschweizer commented on #648
Couldn't we re-use the exact same logic we have already developed for the different value types?

[2017-10-30 09:24] benjamingeer commented on #648
I was thinking that we could hard-code all the standoff entities in `knora-api`. For each entity, there could also be a set of `knora-base` predicates to be replaced. So then, when serving a tag class T:

1. Does T have a standoff datatype?
2. If so, look up the datatype definition D.
    a. Get the predicates to be replaced from D, and remove them from T.
    b. Add all of D’s predicates to T.

A

[2017-10-30 09:39] subotic commented on #619
The 'escaped dash' issue is still not fully fixed in the newest release. I'm in contact with the developer.

[2017-10-30 09:41] benjamingeer commented on #648
I was just proposing having a table of properties in standoff classes that should be replaced with other properties when we serve those classes via the API.

The existing logic is for serving instances, but here we are talking about serving class definitions. How could we re-use the existing logic for that?

[2017-10-30 09:51] tobiasschweizer commented on #648
When you serve a definition for a `knora-api:DateValue` in the ontology route, how would a standoff tag of type date be different form that? They both inherit from `DateBase`.

Maybe I do not understand what you are referring to.

[2017-10-30 10:03] benjamingeer commented on #648
Ah, I thought you were talking about the existing logic for serving values (not value classes).

When I serve a definition for `knora-api:DateValue`, I just serve a hard-coded definition. But I can’t do that for standoff classes, because people can make their own standoff classes. If you make a standoff class called `MyDateTag`, we can’t serve a hard-coded definition of that class, because we don’

[2017-10-30 10:04] benjamingeer commented on #648
Also, if we’re going to let people use standoff in the simple API schema, we need to think about what `StandoffDateTag` should look like in that schema. I guess it should have a `knora-api:Date` in it, rather than `dateValueHasStartYear`, etc.

[2017-10-30 10:15] tobiasschweizer commented on #648
Ok, now I understand what you mean :-)

This is the way it actually works, see https://github.com/dhlab-basel/Knora/blob/cff43fb18828e113e71d7d342233a1b1d0bb5a42/webapi/_test_data/test_route/texts/HTML.xml#L15

This is probably what we also need for KnarQL (knora-api simple).

[2017-11-01 10:50] benjamingeer opened #654 "Store an optional short code and multiple ontologies per project"
Each project needs to be able to have an optional short code, which is a hexadecimal number of at least four digits. Both the short code and the project's short name must be unique. When the projects responder returns information about a project, it should return the short code if present.

Although the short code is optional for now, we could make it required later.

Each project also needs to ha

[2017-11-01 10:52] tobiasschweizer opened #655 "Document loading order of turtle files with references in-between them"
When loading data from turtle files into the triplestore with active consistency checking, the order in which the data is loaded matters if there are references in-between the data in the different files.

If A.ttl contains references defined in B.ttl, B.tll has to be loaded first.

Also consider loading order of ontologies: @benjamingeer suggests to load all the ontologies first.

[2017-11-01 12:36] subotic commented on #654
Thanks for writing up the issue.

[2017-11-01 14:04] benjamingeer commented on #654
Currently `ResourcesResponderV1` uses `projectInfoResponse.project_info.shortname` to construct an IRI for a new resource (it calls `knoraIdUtil.makeRandomResourceIri()` in two places to do this, passing the shortname). When support for project codes is added, it should use the project code instead.

[2017-11-01 18:01] tobiasschweizer opened #656 "KnarQL query with incoming properties"
Consider the following KnarQL query querying the book a page points to:

[code]

The Knora API returns a `ForbiddenResource`.

Reason: the responder checks for the presence of the full graph pattern defined in the WHERE clause. But since book does not point to the page, the page cannot be contained in the book as a dependent resource (nested in one of its linking properties).

So there needs to be

[2017-11-02 10:56] subotic commented on #654
@benjamingeer should the `shortcode` be changeable, i.e. be possible to be added to an existing project without one? Maybe such a change should be done `offline`, as this would require changing the ontology IRI, named graphs, etc.

[2017-11-02 11:28] benjamingeer commented on #654
I agree with you. I don’t think we need to be able to change it via the API. We can make an offline procedure for that.

[2017-11-02 13:24] tobiasschweizer commented on #656
So far, I managed to do this:

[code]

[2017-11-02 13:27] tobiasschweizer commented on #656
What is still missing, is the "inversion" of the link value: instead of the target (which is the main resource), the source should be mentioned in the link value (the rdf:subject), either as a nested structure or as an Iri (very much like the logic we already have).

[2017-11-02 13:32] tobiasschweizer commented on #656
@benjamingeer I think all the information is there now :-)

This adds another layer of abstraction to the knora-api, that could make the API easier to use than a SPARQL endpoint.

[2017-11-02 15:12] benjamingeer commented on #656
We should write a paper about this. :)

[2017-11-02 17:21] tobiasschweizer commented on #656
I actually am ;-)

[2017-11-02 17:30] tobiasschweizer opened #657 "Check Mapping and Standoff Tags"
Compare mappings for BEBB and Goldbach as well as Meditationes and see if the tags are used consistently.

It would also be good to see if the underlying XML could be made more TEI-like, so a later TEI-export would be easier to do.

[2017-11-02 17:31] tobiasschweizer commented on #657
also check the markup of the Mediationes

[2017-11-02 17:49] tobiasschweizer commented on #644
isPartOf and isPartOfValue are also missing.

@benjamingeer Is this intended? Should only subproperties of these properties be used?

[2017-11-02 19:54] benjamingeer commented on #644
Not intended, sorry.

[2017-11-03 08:14] tobiasschweizer commented on #644
Not `isPartOf` your masterplan?

I will add it. :-)

[2017-11-03 09:29] tobiasschweizer commented on #644
done in https://github.com/dhlab-basel/Knora/pull/651/commits/7a65ea11dc25f95ede1cbed8b37a609a943bda40 and https://github.com/dhlab-basel/Knora/pull/651/commits/8a8f961f68c27681e8105ebdc9614bc10bfeba14

[2017-11-06 11:57] musicEnfanthen commented on #517
A few moons later, just let me bother you again with this question of data migration ;)

As I can see, the first point you mentioned is finished, but the other points are still in progress, I guess? Do you see any chance that we can start working on the migration of Webern data this year? Or is there something, I could prepare meanwhile on my own to support that process?

[2017-11-06 14:49] subotic commented on #522
@lrosenth @benjamingeer @tobiasschweizer @mrivoal

I would suggest the following release numbering:

- v1.1.0
- v1.2.0
- v1.3.0
...

I would like to create milestones with corresponding names. This way, we can each issue the corresponding milestone. As soon as all issues for this milestone are closed, we can tag `develop` with the corresponding version.

@loicjaouen would something like this help

[2017-11-06 15:52] loicjaouen commented on #522
it sounds great, it would sure help.

It also sounds compatible with the [git standards](https://help.github.com/articles/creating-releases/).

If I understand well, the cycle goes like this:

1. add scripts needed to move an installation from the previous release
1. tag/release `develop` (f.e. `release-1.0.0`)
1. upon development needed on a release
   - create a branch from that tag (f.e. `fix/t

[2017-11-06 16:06] subotic commented on #522
I'm not sure how the bugfix releases will be managed. The idea is, that since everything is going to be merged back into `develop`, we only have tags on the `develop` branch. If in the meantime a new feature gets merged into `develop` and the bugfix afterward, then we make a combined release.

If we start to make long-lived branches with only bugfix releases, then we are going to have a big mess p

[2017-11-06 16:13] loicjaouen commented on #522
release management is generally a mess ;)

if we tag `release-1.0.0` and then `release-2.0.0` we then find a bug in `release-1.0.0`, it will be hard to fix it in `develop` that is already past `2.0.0` and still make the releases `1.0.1` and `2.0.1` from `develop`.

Let's start any way and see how it goes.

[2017-11-07 07:52] subotic commented on #522
I don't think that we are going to have v1.0.0 and v2.0.0 at the same time. I was thinking more of a linear release management. The highest number is the latest release, so if v1.0.0 has a bug that needs fixing, then v2.0.0 either has the fix already or will also need the bugfix. In this case, we would have v2.0.1.

There seems to be a confusion with v1 and v2 of the API and the numbering of the r

[2017-11-07 08:11] subotic opened #660 "Refactor admin and permission test-data IRIs to conform to our new standard"
old: `http://data.knora.org/projects/[UUID]`
new: `http://rdfh.ch/projects/[UUID]`

- projects
- groups
- users
- permissions

[2017-11-07 08:58] musicEnfanthen commented on #522
Would something like [git flow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) fullfill the necessities? There is a pretty straigthforward separation of bugfixes, fetaures, releases etc.

[2017-11-07 10:04] loicjaouen commented on #522
@subotic : sorry about that, it is all clear and I should have take an example with different numbers ;)

[2017-11-07 10:05] loicjaouen commented on #522
so let's tag api version numbers as vX and releases as rX.X.X ?

[2017-11-07 10:33] subotic commented on #522
@musicEnfanthen That was my initial idea. That's why we have `develop` and `master` branches. The only difference is that we don't use the `master`branch. But there is no reason why we couldn't start to use it. Basically, we could merge every tagged release from `develop` into master.

@loicjaouen I would only tag releases. With tagging, I mean to create a git tag. There the convention is vX.X.X.

[2017-11-07 10:56] kilchenmann opened #661 "institution class in project"
How should the institution class should look like? Hierarchical list of the organisation level? e.g.
Universität Basel -> Philosophisch-Historische Fakultät -> Künste, Medien, Philosophie -> Kunstgeschichte

[2017-11-07 11:04] musicEnfanthen commented on #522
Yes, as I understand this is also the main principle behind `git flow`. Finished features get pushed into `develop`, and only the (tagged) releases will go into `master` (beside the hotfixes that will immediately go to `master` and `develop` ). So you have always a working `develop` branch, and a stable `master` (release) branch.

[2017-11-07 15:11] tobiasschweizer commented on #655
change the loading order in the scripts `graphdb-knora-prod-data.expect` and `graphdb-knora-test-data.expect`

[2017-11-08 08:05] subotic opened #663 "Namespace collisions between projects and standoff"
There seems to be a namespace collision between standoff mappings:

`http://data.knora.org/projects/standoff/mappings/StandardMapping/elements/4b-Cx4qYQOyy9mUswmvW7`

and projects:

`http://data.knora.org/projects/[shortcode/][shortname]` or now `http://rdfh.ch/projects/[shortcode/][shortname]`

Maybe you could use something like this:

``http://data.knora.org/standoff/mappings/StandardMapping/ele

[2017-11-08 08:11] subotic commented on #663
Or is there a project called `standoff`?

[2017-11-08 08:55] loicjaouen commented on #663
The init [script](https://github.com/dhlab-basel/Knora/blob/develop/webapi/scripts/graphdb-knora-prod-data.expect) puts the onto and data are respectively in `http://www.knora.org/ontology/standoff` and `http://www.knora.org/data/standoff`.
But there is no standoff project _per se_.

[2017-11-08 12:57] subotic commented on #663
I will change it to `http://rdfh.ch/standoff`

[2017-11-10 08:48] #654 closed

[2017-11-10 08:48] #660 closed

[2017-11-10 08:48] #663 closed

[2017-11-10 09:17] benjamingeer opened #664 "Consider making project short codes unlimited in length"
With the current format of 4 hex digits, if Lausanne gets 0100-07FF, for example, that gives them 1792 projects (in base 10). If every institution gets 1792 projects, then we can have a maximum of 36 institutions. That doesn't seem like enough to me.

In a DOI, a registrant is represented by "a series of at least 4 numbers greater than or equal to 1000, whose limit depends only on the total number

[2017-11-10 09:54] subotic commented on #661
What about something like http://schema.org/Organization? It looks fairly extensive. We could start by implementing a few of the properties (legalName, address, email)?

[2017-11-10 10:27] mrivoal commented on #661
@subotic @kilchenmann

Maybe you shouldn't go too far on this... Otherwise, you are probably going to select a whole bunch of new metadata. If you do remember, I also selected some of them (mainly form [DCAT](https://www.w3.org/TR/vocab-dcat/) ontology) in order to comply to FAIR principle here, for project, researchers and institutions : https://github.com/LaDHUL/Knora-projects-metadata

DCAT rel

[2017-11-10 11:39] subotic commented on #661
@mrivoal The first thing I did was look at your specification :-) There I saw that we need a `foaf:Organization`, but according to [this](http://xmlns.com/foaf/spec/#term_Organization), there are no properties defined for it. Only that it is a subclass of `foaf:Agent`. That's why the idea of `schema.org`.

[2017-11-10 13:49] mrivoal commented on #661
Great :-) But do we need an email for an Organization? I reckon an address could be useful.

We could also look at more specifically oriented ontologies, such as [FRAPO](http://www.sparontologies.net/ontologies/frapo/source.html). Unless you are targetting Google's indexing performance, as discussed earlier in #620 and this is the reason for you to choose Schema.org.

[2017-11-14 14:59] #644 closed

[2017-11-14 14:59] #656 closed

[2017-11-15 11:33] musicEnfanthen commented on #518
Thanks to @lrosenth this issue was solved today (via php script in release 1.3.1). All richtext values now incorporate the actual textvalue.

[2017-11-15 11:33] #518 closed

[2017-11-15 13:06] loicjaouen opened #665 "extended search: condition exists fails"
Conditions:
- with a fresh Salsah 1.5 session,
- when making an extended search on
- a resource
- that has a link to another resource
- and the search condition is that this linked resource exists

Salsah then complains about: `Bad request error`
![api-error](https://user-images.githubusercontent.com/3933654/32837500-15abb324-ca0e-11e7-88bc-535d282a3051.gif)

[2017-11-15 13:12] loicjaouen commented on #665
Looking at knora's response, we find a bit more:
[code]

which is thrown at (v1/SearchRouteV1.scala#L10)[https://github.com/dhlab-basel/Knora/blob/fd825e7eb1e13273714b59384d3002df37010e82/webapi/src/main/scala/org/knora/webapi/routing/v1/SearchRouteV1.scala#L105]

when there is one of the three (propertyId, compop, and searchval) is missing.

The comment even talks about our case:
[code]

Thanks t

[2017-11-15 13:18] loicjaouen commented on #665
which is correctly set in [jquery.extsearch.js#L750](https://github.com/dhlab-basel/Knora/blob/fd825e7eb1e13273714b59384d3002df37010e82/salsah/src/public/js/jquery.extsearch.js#L750)

[2017-11-15 13:18] tobiasschweizer commented on #665
you just have to add "searchval=" when using the EXISTS operator

[2017-11-15 13:20] loicjaouen commented on #665
@tobiasschweizer mid-air collision :)

[2017-11-15 13:21] tobiasschweizer commented on #665
in any case, looking at the URL hat is produced by the GUI helps :-)

[2017-11-15 13:27] loicjaouen commented on #665
apparently ajax is smart enough to remove it when sending at [01_salsah_api.js#L114](https://github.com/dhlab-basel/Knora/blob/fd825e7eb1e13273714b59384d3002df37010e82/salsah/src/public/js/01_salsah_api.js#L114)

[2017-11-15 13:30] tobiasschweizer commented on #665
built-in intelligence - the root of all evil ;-)

[2017-11-15 14:04] benjamingeer opened #667 "Convert existing ontology names to NCNames"
unil.ch have some ontologies with numerical names. Officially, API v2 requires an ontology name to be an XML `NCName`, which means it can't start with a digit. The check for this in `StringFormatter` is currently disabled so unil.ch can continue using their existing ontology IRIs for now. Sometime soon, these ontologies should be renamed, and this check should be re-enabled.

[2017-11-15 14:25] loicjaouen commented on #665
ready for review, do you like it better?

[2017-11-16 13:21] #665 closed

[2017-11-17 13:47] benjamingeer opened #668 "Use type information from the triplestore"
Currently we get all values as strings from the triplestore, without any type information. Each responder does its own type conversions, because it knows what types to expect.

For Knora API v2, we could have `HttpTriplestoreConnector` use the type information supplied in the triplestore's responses, and convert to integers, booleans, etc., accordingly. This would move that work down a level in th

[2017-11-17 14:36] benjamingeer opened #669 "Use rdfs:label instead of schema:name in JSON-LD representing resources"
Following the discussion in #620 about schema.org and the responses to https://github.com/schemaorg/schemaorg/issues/1762, I suggest that we not use `schema.org` entities in the current API v2 ontology schemas, because it seems that the software that actually uses those entities is designed to understand *only* those entities. Instead, we could take @subotic's [suggestion](https://github.com/dhlab

[2017-11-20 08:58] loicjaouen commented on #472
thanks to the work done in #595 and #654, this issue is now about keeping the project code in memory and display the project short name in the GUI (salsah 1.5)

[2017-11-21 16:07] #610 closed

[2017-11-22 10:54] subotic commented on #668
as a reminder:

[code]

[2017-11-22 13:12] subotic commented on #127
This is implemented.

[2017-11-22 13:12] #127 closed

[2017-11-22 13:14] subotic commented on #83
@lrosenth is extending the PHP Salsah API so it will generate `ttl` and `xml` with all the data, which then can be imported into Knora.

[2017-11-22 13:17] #3 closed

[2017-11-22 14:37] #351 closed

[2017-11-23 09:02] loicjaouen opened #672 "post PR #659 issues"
salsah-1.5 has some difficulties dealing with #659, namely:
- [x] selecting a default vocabulary
<img width="717" alt="capture d ecran 2017-11-23 a 09 55 14" src="https://user-images.githubusercontent.com/3933654/33164870-f49b2c00-d034-11e7-821a-26c8a32df2f3.png">

- [x] naming different vocabularies of the same project
<img width="721" alt="capture d ecran 2017-11-23 a 09 55 33" src="https://user

[2017-11-28 13:48] tobiasschweizer opened #675 "getting incoming Links in nestResources is slow and inefficient"
<https://github.com/dhlab-basel/Knora/blob/8dddfd8b100737b6d013b6bd9d88098527b6d67b/webapi/src/main/scala/org/knora/webapi/util/ConstructResponseUtilV2.scala#L274> is very slow when the following KnarQL query is executed:

[code]

I think this is because for every call of `nestResources`, incoming links for the given resource Iri are searched in all the results `flatResourcesWithValues`  (and this

[2017-11-28 14:58] tobiasschweizer commented on #675
@benjamingeer At first, I thought it was the triplestore ;-) But then I realized that it was all my fault :-) calming ...

[2017-11-28 15:03] benjamingeer commented on #675
Now you just have a nice optimisation task. :)

[2017-11-28 15:19] tobiasschweizer commented on #675
hopefully :-) I'll keep you posted

[2017-12-01 13:30] tobiasschweizer commented on #466
The following KnarQL already works:

[code]

This works because a  `beol:person` is also a `foaf:Person` (defined in the beol ontology). However, we realized that we make certain assumptions about a `knora-base:Resource` that are not true for third party definitions (values are objects).

How should we proceed so that we can support third-party ontologies (foaf, dc-terms) in knora-api simple witho

[2017-12-01 13:33] benjamingeer commented on #466
I'm inclined to think that we should just use `rdfs:subClassOf` and `rdfs:subPropertyOf`. The triplestore won't care.

[2017-12-01 13:52] subotic commented on #466
Do I understand it correctly that then we could simply write something like this:

[code]

[2017-12-01 13:53] benjamingeer commented on #466
Yes, I think it would work.

[2017-12-01 13:55] subotic commented on #466
cool 😎

[2017-12-01 15:30] tobiasschweizer commented on #466
yes, but currently we have a knora-dc which no one knows about

people should be able to use standard dc-terms voc

[2017-12-04 12:42] tobiasschweizer commented on #657
XML elements currently used in BEOL:

**BEBB** (Basler Edition der Bernoulli-Briefwechsel):

- `<p>`: paragraph (logical unit in text)
- `<ref>`: footnote (contained in running text), moved to the end of the text when XSL transformation is applied
- `<i>`: italics
- `<u>`: underlined
- `<b>`: bold
- `<sup>`: superscript
- `<sub>`: subscript
- `math`: mathematical notation in LaTeX
- `<nowiki>`: Me

[2017-12-04 13:03] benjamingeer commented on #466
Yes, that's what I'm suggesting: get rid of knora-dc and just use the standard one. Entities in Knora project-specific ontologies can refer to standard dc entities using `rdfs:subClassOf` and `rdfs:subPropertyOf`. Then KnarQL queries using the standard entities should work.

[2017-12-04 13:05] tobiasschweizer commented on #466
Yes, yes, yes, let's do it!

How do we expose these relations in knora-api complex? In knora-api simple it should be fine: TextValue -> xsd:string

[2017-12-04 13:08] benjamingeer commented on #466
The relations will be there whichever schema you use. If the client is using the complex schema, they need to be aware that they're going to get Knora value objects in responses (which they need to know anyway if they're using that schema).

[2017-12-04 13:10] tobiasschweizer commented on #466
Ok, so we need to write that down explicitly in the documentation! I am looking forward to working on that. So then people can make KnarQL queries solely using dc-erms etc.

[2017-12-05 09:00] SepidehAlassi commented on #657
Goldbach:  most of BEBB markups and following one:

- <small> : small capitals

[2017-12-05 14:49] tobiasschweizer commented on #657
Standoff Tags and relation to TEI-elements:

- paragraph (logical unit in text): `standoff:StandoffParagraphTag` -> http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-p.html
- reference/footnote in text: `beol:StandoffReferenceTag` -> http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-ref.html
- italics: `standoff:StandoffItalicTag` -> http://www.tei-c.org/release/doc/tei-p5-doc/en/html/

[2017-12-05 15:16] tobiasschweizer commented on #657
If me manage to make a mapping from standardized standoff tags to TEI/XML elements, we could possibly offer a generic export to TEI/XML (regardless of how the original XML looked like as long as it could be correctly mapped to standoff).

[2017-12-06 10:34] loicjaouen opened #676 "evanescent date selector"
reported by user at:

https://github.com/LaDHUL/Theatre-de-societe/issues/24

similar to #546

[2017-12-06 11:41] loicjaouen opened #678 "typescript interface test data (brush-up)"
in #673 @tobiasschweizer pointed out errors in when running the test:
[code]

While modifying the salsah 1.5 code to fit the new IRI schema, I did the same on the interface and test data:
e6580fbdfe8c29b0a021811b74325c9271e77fc3
68f12d98e32a537799150d63a1bd37d6ca63ea9b
2d68024950b0a16c2eb817fa33e393526a621a97

However, even if the test passes now, some other files in [salsah/src/typescript_interfa

[2017-12-07 11:56] subotic opened #679 "Built-in groups"
Currently, we have these 5 built-in groups:

- `UnknownUser`
- `KnownUser`
- `Creator`
- `ProjectMember`
- `ProjectAdmin`
- `SystemAdmin`

These groups are handled specially since they don't really exist. They are generated and attached on the fly to the user, which is a bit messy.

With the looming redesign of the permissions system (later next year), I would like to do a clean-up beforehand (ear

[2017-12-08 08:42] tobiasschweizer commented on #678
`make jsonformattest` is not supposed to be a test in the proper sense like our E2E or the unit tests. It should just ensure that the API's documentation is accurate. Obviously when changing things in the API response formts, both the sample responses and the documentation have to be updated.

I propose that @subotic updates the API documentation and the sample responses as he works on the project

[2017-12-08 09:24] #676 closed

[2017-12-08 16:02] kilchenmann opened #680 "update project"
In Salsah we have a project form, which is used to create new projects, but also to edit existing projects. The "create process" (post) works fine.  But the "edit process" (put) is not able to update the shortcode value. I know, that it's not possible to edit the shortcode, when it already exists; in that case, the input field for shortcode is disabled. But most of the knora test project doesn't h

[2017-12-08 17:25] subotic commented on #680
Only the `images` project has a `shortcode`, so you could use this project.

[2017-12-08 22:28] musicEnfanthen opened #681 "Remove owl:NamedIndividual from salsah-gui:Guielements"
At the moment, the Guielements defined in `salsah-gui.ttl` are declared as
[code]

Does this make sense? When you think of `:Richtext` or `:Colorpicker` for example I would say that it is still an abstract class rather than a named concrete individual. From these classes you could create individuals like `Richtext1`, `Richtext2`, etc.

At a first glance this looks like something that was added by

[2017-12-09 14:07] #672 closed

[2017-12-11 09:40] kilchenmann commented on #680
Yes I know. But anyway I can't update the project info.

[2017-12-11 09:51] kilchenmann opened #684 "Create new project: ontology IRI is not accepted"
I'm trying to create a new project, but the API doesn't accept the ontology IRI.

I'm sending the following data:
[code]

...and I get this answer:

[code]

[2017-12-11 09:59] subotic commented on #684
This won't work. You will not be able to add/remove an ontology directly to/from the project. There is going to be an `admin/ontologies` endpoint, with which you will be able to create a new ontology. Creating a new ontology will also add it to the project.

[2017-12-11 10:03] subotic commented on #680
The SPARQL for updating the project has a problem. I didn't think about the case of removing the project description.

[2017-12-11 10:04] subotic commented on #680
If you try adding something like a `-` instead of nothing, it should work.

[2017-12-11 10:28] kilchenmann commented on #680
Then I have to set the description as a required field. I will do it right now...

[2017-12-11 11:18] subotic commented on #680
Does it make sense for a project to not have a description? Maybe I should also make this on the API level required?

[2017-12-11 12:51] tobiasschweizer opened #685 "KnarQL UNION: problem it ORDER BY criterion"
When I run the following KnarQL query, the triplestore crashes:

[code]

SPARQL that is executed by the triplestore:

[code]

Problem: the pattern ` GRAPH <http://www.ontotext.com/explicit> {
     ?date <http://www.knora.org/ontology/knora-base#valueHasStartJDN> ?date__valueHasStartJDN .
 }` is inserted after the last `UNION` block and `?date__valueHasStartJDN` does not seem to be bound.

Solution

[2017-12-11 13:36] tobiasschweizer opened #686 "KnarQL: handling of statements in OPTIONAL and UNION"
The current design expects all statements to be contained in the results (one or more matches).

The use of OPTIONAL and UNION, however, introduces statements that **may** match. This means that cannot be expected to be present in the results.

Consider the following SPARQL query with a UNION:

[code]

It returns the following results (SPARQL web console):

<img width="1109" alt="sparql_results" s

[2017-12-11 13:41] tobiasschweizer commented on #685
see also #642

[2017-12-11 14:14] tobiasschweizer opened #687 "KnarQL: how to represent logical OR"
The following SPARQL queries for all resources of type `anything:Thing` that may have a decimal = 2.1 or a Boolean value that is true. However, it also returns all resources that do not have either of them.

[code]

Instead, the SPARQL query should return all the resources that have at least one of the two properties.

[2017-12-11 14:16] tobiasschweizer commented on #687
This seems to work:

[code]

[2017-12-11 14:42] tobiasschweizer commented on #687
https://www.w3.org/TR/rdf-sparql-query/#alternatives

This means that required patterns have to go in first block that is followed by blocks combined with the UNION keyword representing alternatives of which at least one has to match.

[2017-12-11 16:51] tobiasschweizer commented on #685
I think the KnarQL query above is actually wrong, it should be rewritten to:

[code]

[2017-12-11 19:40] tobiasschweizer commented on #642
also the statement binding the ORDER BY criterion must not be contained in an OPTIONAL or UNION. This makes sure that it is actually bound.

[2017-12-11 19:42] tobiasschweizer commented on #642
@benjamingeer Would you like to do that in the type checker?

[2017-12-12 11:23] mrivoal opened #689 "Knora handling of project-specific properties and subproperties, classes and subclasses"
I have a question regarding the correct/expected behaviour of Knora when one defines a subproperty for a given project-specific property.

Here is my use case (a customed bibliographical ontology based on BEOL, see definitions below):
I have a `Document` class and an `Edition` class which is a subclass of `Document`.
`Document` class has a `documentHasAuthor` property and `Edition` has an ` editio

[2017-12-12 11:40] mrivoal opened #690 "Configure restricted view in project settings"
I originally created this issue in Sipi repository [#224](https://github.com/dhlab-basel/Sipi/issues/224) as a reminder of a discussion with @lrosenth a few weeks ago.

Some project will need to **define the maximum resolution allowed** for their publicly available images. Due to some restrictions, some projects are allowed to display images : their resolution should be good enough for the unknown

[2017-12-12 11:43] mrivoal commented on #680
The question wasn't directed to me, but I don't think it makes sense...

Besides, we should enforce in the coming months the projects to provide more extensive metadata.

[2017-12-12 11:51] mrivoal commented on #679
This suggestion is not directly linked to group administration, but to lists. You also said that you wanted in the near future to have lists rootnodes to be attached to projects (cf. 2017-11-08-skype-minutes)

May we suggested that these updates are somehow gathered with the changes in groups administration so that we update and refactor our ontologies and data only once? That would be much more c

[2017-12-12 13:01] benjamingeer commented on #689
Yes, glad you like it. :) This is in [the knora-base docs](http://www.knora.org/documentation/manual/rst/knora-ontologies/knora-base.html#owl-cardinalities):

Let me make sure I understand correctly what you mean here:

If I understand correctly:

* Both `editionHasDirector` and `editionHasDirector2` are subproperties of `documentHasAuthor`.
* `Edition` has cardinalities for `editionHasDirector` a

[2017-12-12 15:12] #686 closed

[2017-12-12 15:15] mrivoal commented on #689
Yes, but it is more a matter of "label" than cardinality, here. I didn't know it would worked for labels as it does for cardinalities. But this great.

Exactly.

`Edition` has these 2 properties, each with its cardinality and label.

You are probably right. I will provide you with a example ontology very soon.

[2017-12-12 15:50] #675 closed

[2017-12-12 16:19] mrivoal commented on #689
Ok, please forget what I said. I must have done some mistake while writing the ontology the first time, there is no bug here. With the example ontology I prepared, everything works fine and I can see the 2 subproperties for  `Edition`.

So I will just close the issue. Thanks for your support!

[2017-12-12 16:19] #689 closed

[2017-12-12 16:26] benjamingeer commented on #689
No problem!

[2017-12-13 15:54] tobiasschweizer commented on #549
webapi/scripts/graphdb-se-knora-test-repository-config.ttl.tmpl

[code]

[2017-12-13 16:39] tobiasschweizer commented on #549
setting the max execution time to 2 seconds prevents the problem reported in #685

if the setting is > 2 seconds, however, the triplestore still crashes

[2017-12-18 11:00] loicjaouen opened #695 "bad image rendition"
In Salsah 1.5, when uploading a picture, the image is rendered in a much worse resolution than the original.

Here is a crop of the original image uploaded to sipi (through salsah):
![chaeg_380_bis](https://user-images.githubusercontent.com/3933654/34102826-d41834e0-e3ea-11e7-8f02-965422207100.jpg)

And its rendition in salsah:
![capture d ecran 2017-12-15 a 12 03 39](https://user-images.githubuse

[2017-12-18 11:15] loicjaouen commented on #695
investigations rule out loss of resolution in sipi and points to:
https://github.com/dhlab-basel/Knora/blob/5119f91569f7d0170fc1ac3acc51dfe945b3c217/salsah/src/public/js/imagebase.js#L2908
https://github.com/dhlab-basel/Knora/blob/5119f91569f7d0170fc1ac3acc51dfe945b3c217/salsah/src/public/js/imagebase.js#L3098
[code]

The idea is to have a limit in the size that Salsah shows, defined in `viewer_se

[2017-12-18 11:25] loicjaouen commented on #695
in Salsah 2, the whole renderer is replaced by [OpenSeaDragon](https://openseadragon.github.io/) that can talk directly to Sipi in `iiif`.

Salsah has no config file but the code here.

Should I just change the `img_maxsize` value where it is now, or add a variable next to:
https://github.com/dhlab-basel/Knora/blob/5119f91569f7d0170fc1ac3acc51dfe945b3c217/salsah/src/public/js/00_init_javascript.js

[2017-12-18 12:50] tobiasschweizer commented on #695
you can change the resolution in the upper left corner, there should be 5 different you cab choose from

[2017-12-18 13:43] tobiasschweizer commented on #695
in the response to a resource request, you can find different pre-configured resolutions: http://www.knora.org/documentation/api/interfaces/_resourceresponseformats_.resourceresponseformats.resinfo.html#locations

[2017-12-18 13:58] loicjaouen commented on #695
@tobiasschweizer :

So cool! I did not notice it so far:

![capture d ecran 2017-12-18 a 14 54 33](https://user-images.githubusercontent.com/3933654/34109411-c6f4588e-e403-11e7-991b-7b93420a1ade.png)

Thank you very much Tobias :)

[2017-12-18 13:59] tobiasschweizer commented on #695
:)

[2017-12-18 13:59] #695 closed

[2017-12-20 16:52] tobiasschweizer opened #697 "KnarQL: collect dependent resource Iris from type inspection results"
SearchResponderV2.scala, 1968:

[code]

This code collects dependent resource Iris specified by the user in a KnarQL query. They are used to check if they are still there after permission checking.

This fails when doing the following:

[code]

Even though the indicated resource Iri has to be absent in the results, it is still expected to be there with the current implementation.

Proposed solutio

[2017-12-20 22:48] benjamingeer opened #698 "Make input wrappers for processing ontology JSON-LD from both API input and test output"
In #670, `CreatePropertyRequestV2` does the opposite of `ReadOntologiesV2`, i.e. it takes as input the JSON-LD that `ReadOntologiesV2` generates as output. There will be other input messages that need to process this same JSON-LD structure.

Also, it would be easier to write tests if we could take the JSON-LD output of `ReadOntologiesV2` and transform it into a similar case class instance for chec

[2017-12-22 08:08] tobiasschweizer opened #699 "Extension of Standoff Design"
- [ ] Map standardized standoff tags and attributes to TEI/XML and vice versa: #657
- [ ] implement standoff search: search for text that is marked up in a certain way, consider adaption of Lucene indexer: #630

[2017-12-22 08:11] tobiasschweizer opened #700 "Mapping: Header and Body in an XML Document"
Map the body of an XML body to standoff entities, map the header to resources and properties.

The header could work much like the existing bulk import.

[2017-12-22 08:15] tobiasschweizer commented on #630
Maybe we have to provide a custom implementation of the Lucene Indexer (for graphdb: org.apache.lucene.analysis.Analyzer, com.ontotext.trree.plugin.lucene.AnalyzerFactory, http://graphdb.ontotext.com/documentation/standard/full-text-search.html#creating-an-index).

[2017-12-22 08:17] tobiasschweizer commented on #657
And we could map any standard TEI/XML document to standoff on the fly, e.g., the Newton project (however, since TEI/XML can e quite different, we would have to make some restrictions or provide custom configurations).

[2017-12-22 08:19] tobiasschweizer opened #701 "Standoff Tags may belong to different Layers"
Extension of the mapping: Creation of different layers of standoff nodes (grouped standoff nodes) from one XML file (or several XML files that contain the same text) and serialization of individual standoff layers to XML.

The serialization of different standoff layers (or even one standoff layer) could lead to overlapping hierarchies in XML that can be solved using CLIX markup.

[2017-12-22 09:12] mattssp commented on #630
Or rather a Tokenizer. An other problem is that depending on the type of markup, the sequence of the plain text may not be the relevant one for tokenizing. There may be parts of the text that are comments, or there may be constructs like deletions:
`Zeitglöck<del>chen</del><add>lein</add>`.
This should be tokenized as "Zeitglöckchen" and "Zeitglöcklein" (yes, i would want to find the deleted word,

[2017-12-22 09:26] benjamingeer commented on #630
@mattssp But if the plain text contains `Zeitglöckchen Zeitglöcklein`, then you can't search for `Zeitglöcklein des Lebens`.

Another way would be to separate different variants into different resources.

The first resource could represent the diplomatic transcription (with `Zeitglöckchenlein`, and the markup showing the addition and deletion).

Then you could have different resources for differen

[2017-12-22 09:43] mattssp commented on #392
I don't like concept of "startparent" and "endparent" anyway. If they are not the same, then there are multipe hierarchies, and the start- and end-parent are both not the conceptual parent of the tag, but random tags that enclose the start and the end by pure chance. The constraints would only be valid in an other hierarchy. This can only be truely solved if #701 is solved properly.
Consider this

[2017-12-22 09:59] mattssp commented on #630
@benjamingeer that would introduce a lot of redundancy. Still, I see your point. Perhaps there could be a way to mark up search terms for complex sequences via an additional standoff markup layer. These could be indexed easily.

[2017-12-22 10:06] mattssp commented on #630
Some sort of preprocessor that can be parametrized by the mapping could create this upon creation of the resource.

[2017-12-22 10:27] benjamingeer commented on #392
@mattssp The reason for start and end parent is as follows:

We want to be able to take any arbitrary XML document as input, convert it to standoff, and convert it back to identical XML.

But we also want to support overlapping tags, e.g. using the CLIX syntax.

Therefore the implementation in `XMLToStandoffUtil` supports the idea of a `FreeStandoffTag`, i.e. a tag that can overlap other tags. In

[2017-12-22 11:07] benjamingeer commented on #630
If I understand your idea correctly, I think the problem is that, in general, it's not possible to predict which sequences of words people will want to search for.

I agree that it is best to avoid redundancy when possible. But on the other hand, I think that it's often not possible to find a single data representation that will meet all needs. For example, people who do quantitative analyses ofte

[2018-01-04 09:21] #697 closed

[2018-01-09 11:27] kilchenmann opened #702 "Admin API additions"
- [x] CreateProjectApiRequestADM: shortcode should be required
- [x] CreateProjectApiRequestADM / ChangeProjectApiRequestADM / ProjectADM: keywords should be a list
   - [x] own keywords endpoint with get: `admin/projects/keywords/[projectIri]` with payload in body
   - [x] returns all unique keywords (as strings) for all projects in an array
- [x] CreateProjectApiRequestADM / ChangeProjectApiRequ

[2018-01-09 20:14] benjamingeer commented on #698
To make `InputOntologiesV2` work for tests, we need to keep in mind two that when client submits JSON-LD (e.g. to create a property or class), the JSON-LD returned is similar but not identical:

* It is likely to contain extra things, like inherited cardinalities, or extra predicates (like `knora-api:isEditable`).
* The ontology's last modification date will be different.

The test will want to do

[2018-01-09 20:17] benjamingeer commented on #698
Otherwise, if there's extra data, it should throw an exception. This could happen if the client misspells a predicate IRI.

[2018-01-12 10:29] loicjaouen opened #703 "SysAdmin user can't create a resource"
A user defined as SysAdmin with:
[code]

is able to create whatever resource in whatever project (c.f. #610)

But salsah has no dialogue switch to select the project:
![capture d ecran 2018-01-12 a 10 51 21](https://user-images.githubusercontent.com/3933654/34870783-6e6ca388-f78b-11e7-8de3-fae914c3c80b.png)

So the creation request is send without `projectid` and is rejected by knora :(

Salsah sh

[2018-01-12 10:49] loicjaouen commented on #472
was fixed in #673

[2018-01-12 10:49] #472 closed

[2018-01-15 14:14] #698 closed

[2018-01-15 16:58] tobiasschweizer opened #706 "re-enable literals in KnarQL"
the use of literals as objects of a statement is disallowed in KnarQL.

It should be re-enabled. This would make it easier to write queries that involve the text index:

`?text knora-api:textMatch "test"`

[2018-01-19 09:46] tobiasschweizer opened #708 "ListValue as Simple Type"
Why is a `ListValue` an `xsd:string` in knora-api simple?

https://github.com/dhlab-basel/Knora/blob/e5a69b4a0cb00bb12c8a26557dd8d95e6722854e/webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala#L786

[2018-01-19 09:47] benjamingeer commented on #708
I wasn't sure what it should be. What do you think?

[2018-01-19 10:00] benjamingeer commented on #708
Now I remember what I was thinking: it should be the `listNodeName` of the `ListNode` that the `ListValue` points to. In the simple schema, the client doesn't need the IRI of the `ListValue`, because they can't modify it.

[2018-01-19 10:01] tobiasschweizer commented on #708
Is a  `listNodeName` unique so it can be used instead of an Iri?

[2018-01-19 10:07] benjamingeer commented on #708
Yes, something like that. Does it make sense?

[2018-01-19 10:09] benjamingeer commented on #708
It’s on my list. :)

[2018-01-22 08:35] #687 closed

[2018-01-22 08:36] tobiasschweizer commented on #647
I added a rather non technical section about this in the KnarQL paper.

[2018-01-22 14:26] #639 closed

[2018-01-22 16:09] #668 closed

[2018-01-24 22:18] benjamingeer commented on #578
@SepidehAlassi asked Martin Mattmüller about this, and he said that in his view, it makes no sense to allow Gregorian BC dates, or any Gregorian dates that are earlier than the introduction of the Gregorian calendar in 1582 AD.

Moreover, he thinks that we could also disallow Julian dates earlier than the introduction of the Julian calendar in 45 BC. But in that case, we would need to invent a new

[2018-01-25 00:11] loicjaouen commented on #578
That's properly amazing, so the Gregorian calendar is based upon a date (the start of the Anno Domini) that doesn't exist in the calendar.

One could define a calendar as an absolute set of formulas to decide how to call the day corresponding to any moment in time, regardless of historic event.

But one can also accept the definition of *kalendarium*, an account book of historical event (according

[2018-01-25 14:02] kilchenmann opened #710 "Two warnings while compiling webapi"
I get the following warnings with the newest version from develop branch (2018-01-25):

`[warn] Found version conflict(s) in library dependencies; some are suspected to be binary incompatible:
[warn]
[warn] 	* com.github.jsonld-java:jsonld-java:0.10.0 is selected over 0.5.1
[warn] 	    +- org.apache.jena:jena-arq:3.0.0                     (depends on 0.5.1)
[warn] 	    +- org.knora:webapi_2.12:0.1

[2018-01-25 14:04] benjamingeer commented on #710
The warnings about `GroupsResponderADM` and `UsersResponderADM` are fixed in #707. The one about version conflict(s) in library dependencies is probably not a real problem.

[2018-01-25 14:10] benjamingeer commented on #578
One could, but historians haven't done this, and I think it's not our job to do it. People who study Islamic history use the Islamic calendar, because that's what's used in their sources, and it gets tricky to convert dates all the time, especially imprecise ones. No doubt specialists in Chinese history use the Chinese calendar.

At that time, years were numbered differently, with year 1 being the

[2018-01-25 16:31] subotic commented on #710
The warning about version conflicts is solved in PR #653. There I have analyzed what versions are needed for which library and fine-tuned `WebapiBuild.sbt`. I should probably extract this part as a separate PR.

@benjamingeer thanks for solving the `GroupsResponderADM` and `UsersResponderADM` warnings. Now I can remove them from my todo list :-)

[2018-01-30 09:29] loicjaouen opened #712 "strange build behaviors"
I have two different behaviours on what looks to me as identical situations:
On the directory where I usually work on Knora, I make sure to have fresh version of the code but `sbt` complains about errors when building `webapi`.
A fresh clone succeeds at building without problem...

I don't say that it is a problem to cope with, but just thought one might be interested in knowing such a strange cas

[2018-01-30 09:29] benjamingeer commented on #712
Just a guess: same version of sbt?

[2018-01-30 09:30] tobiasschweizer commented on #712
try `clean` and then re-compile

[2018-01-30 09:33] loicjaouen commented on #712
failing build log:

[code]

log of the working one:

[code]

[2018-01-30 09:36] loicjaouen commented on #712
Thanks @tobiasschweizer , `clean` fixed it

it just dropped out of my habits as it obviously usually runs so smoothly

sorry about the noise! and thanks again

[2018-01-30 09:36] #712 closed

[2018-01-30 09:43] tobiasschweizer commented on #712
@loicjaouen Great! Sometimes some of the old compiled code is not recompiled although it should have.

[2018-01-31 09:49] subotic commented on #520
There seems to be a nice solution with [Angular HTTP Interceptors](https://angular.io/guide/http#intercepting-all-requests-or-responses) (provided in Angular 4.3). As I understand it, it should be possible to intercept each call from SALSAH to SIPI and remove the token from the URL and add it to the header (see: https://github.com/dougmoscrop/angular-img-http-src).

If the HTTP interceptor idea do

[2018-01-31 14:08] subotic opened #714 "Take a look at Swagger for automated API documentation"
Possible libraries:
 - https://bitbucket.org/jtownson/swakka
 - https://github.com/swagger-akka-http/swagger-akka-http

[2018-01-31 14:13] tobiasschweizer opened #715 "Reference to uninitialized value"
I think you can just move the initializations up in the code.

[code]

[2018-01-31 14:14] benjamingeer commented on #715
This is fixed in #707.

[2018-01-31 14:15] tobiasschweizer commented on #715
great, thx!

[2018-01-31 16:43] benjamingeer commented on #286
PR #707 fixes this for ontologies created via API v2. That should make it less of a priority to check ontologies created in other ways.

[2018-02-01 08:07] subotic commented on #715
also in #653

[2018-02-01 08:18] subotic commented on #2
http://kamon.io/documentation/1.x/recipes/monitoring-akka-quickstart/

[2018-02-01 08:24] subotic commented on #532
not relevant anymore

[2018-02-01 08:24] #532 closed

[2018-02-01 10:15] #715 closed

[2018-02-01 13:50] subotic opened #717 "[SALSAH] Icon name with unmappable characters"
[code]

Could we please get rid of the special characters? Java doesn't like it.

[2018-02-01 13:54] benjamingeer commented on #717
You need to set your ``LANG`` environment variable to tell Java to use UTF-8. Explanation here:

https://github.com/src-d/engine/pull/257/files

[2018-02-01 13:54] subotic commented on #717
ok, thanks. I will try that.

[2018-02-01 13:58] mrivoal commented on #717
But we can also get rid of those icon names (in fact, we are not currently using those icons). Just let us know.

[2018-02-01 14:30] gfoo opened #718 "User's password management API"
Hi folks !
Is there a way with the Knora user/auth API to :
- change the current password (by sending current pwd/new pwd)
- deal with forgotten password (send email to the user with a URL link to reset password or something like that...)

If not, is it planned ?

[2018-02-01 15:25] subotic commented on #718
this is implemented

not implemented, but we probably should at some point in the future. I will open an issue.

[2018-02-01 15:27] subotic opened #719 "Provide password recovery"
Send email to the user with a URL link to reset password or something like that...

[2018-02-01 16:38] gfoo commented on #718
cool, thanks a lot, I finally found "change password" in the doc, probably swagger #714 will be a good news, for me a least ;-)

[2018-02-01 16:38] #718 closed

[2018-02-02 12:33] #717 closed

[2018-02-02 13:42] subotic commented on #717
I solved it by setting some `utf-8` environment variables. But in general, I don't think that it is a good idea to have special characters in paths and filenames, as those things have a tendency to become a problem ;-)

[2018-02-02 13:52] mrivoal commented on #717
You are completely right. But I wasn't fully aware of that kind of things, back then. This dates back to my very first project in Salsah, when @tobiasschweizer imported Lumières.Lausanne data in Salsah 1.0... More than 3 years ago!

[2018-02-02 13:54] benjamingeer commented on #717
I think at some point I encouraged Marion and Loïc to use UTF-8 in filenames. I was probably thinking, "This is the 21st century, UTF-8 should be fine." :)

[2018-02-02 14:11] loicjaouen commented on #717
@benjamingeer : you convinced me then and I still think that it's the way to go, we should not adapt to these machines, they should be usable in other languages than English and thus should accept utf-8 in every ways.

#183

[2018-02-02 15:31] subotic commented on #717
@loicjaouen not a problem. Any bugs resulting from this will be automatically assigned to you ;-) be careful what you wish for :-)

[2018-02-03 08:07] loicjaouen commented on #717
of course; starting from this one obviously (assigned to me and fixed by you: thanks @subotic  ;)  )

[2018-02-05 12:42] tobiasschweizer commented on #398
With KnarQL, this works now:

[code]

Provided that a `beol:person` is a subclass of a foaf:Person and a `beol:hasFamilyName` is a subproperty of `foaf:name` (this would actually include also the first name), we get the following results:

[code]

[code]

[2018-02-05 15:44] tobiasschweizer commented on #642
@SepidehAlassi I think we would have to make `beol:creationDate` required (occurrence 1) to be able to support sorting of letters searched for by date.

In case we do not have a date, we could put the whole century as a date. Do you think that would be ok?

[2018-02-05 15:48] tobiasschweizer commented on #642
On the other hand, if an optional property is not inside an OPTIONAL or a UNION, the logic works fine. Resources, where the property is missing, are not returned though.

[2018-02-05 16:03] benjamingeer commented on #642
Why not?

The current type inspector doesn't have access to ontologies. I've been meaning to add another type inspector that would run as a second pass, querying ontologies to infer types, but that's non-trivial and I can't do it right away.

Does the search responder even have enough information to connect the ORDER BY variable with the property that points to it, and to the class that has a card

[2018-02-05 16:17] benjamingeer commented on #642
Also, if you want the 'type' of a variable to include the cardinality of the property that points to the variable within a given class, then we will need to redesign what type inspection means. Currently, the type of a variable is just an IRI (a `NonPropertyTypeInfo`).

[2018-02-05 16:21] tobiasschweizer commented on #642
Why not?

Because we expect the order by variable to be bound in the responder. Otherwise an error occurs.

Actually this also means that you can only use order by when you are indicating a resource class. A property for itself has no cardinality.

I think this could be solved in the response (we could get additional information from the ontology responder).

Yes, I understand that this will be co

[2018-02-06 10:25] tobiasschweizer opened #721 "Knora Response Format Docs: Use consistent Convention for Variables"
Use a consistent convention to indicate that a part in the docs is variable and has to be replaced with something else.

Like: `HTTP GET to http://host/v1/values/valueIRI` -> valueIRI is variable, the values is stable

[2018-02-06 13:37] tobiasschweizer commented on #398
@benjamingeer pointed you the support for `givenName` and `familyName` as defined in http://xmlns.com/foaf/spec/#term_givenName and http://xmlns.com/foaf/spec/#term_familyName

[2018-02-06 13:47] tobiasschweizer commented on #398
added support in https://github.com/dhlab-basel/Knora/commit/3669dd21e05a09ca911a0bfe572345c8fb63c4dc

[2018-02-06 17:21] SepidehAlassi opened #724 "(xsd) problem with shortcode in IRI"
I have defined shortcode 0801 for beol project.
In xsd file generated by Knora, shortcode of project is added to prefix, see below:

` <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="p0801-beol__comment"/>`

which expects the local tag of this property in xml file to be as:
`<biblio:p0801-beol__comment knoraType="richtext_value">Oslo</biblio:p0801-beol

[2018-02-07 08:19] benjamingeer commented on #724
I made the shortcode part of the prefix because there could be two different ontologies with the same name in different projects. Could you add the full stack trace here for the `NoSuchElementException`?

[2018-02-07 08:28] benjamingeer commented on #724
Looks like the bug is in `StringFormatter.toPropertyIriFromOtherOntologyInXmlImport`.

[2018-02-07 09:23] benjamingeer commented on #724
We have so many tests now, we're going to need a supercomputer to run them.

[2018-02-07 10:00] benjamingeer commented on #724
I think I fixed it, could you check? But first, please add the full stack trace here for the `NoSuchElementException`, because I didn't get that exception, but I'd like to fix it too, so I need to know where it's being thrown from.

Then please pull from the `goldbach_beta_release` branch and test again.

[2018-02-07 10:20] SepidehAlassi commented on #724
:D I was fixing it at the same time as you :-D

here is the stack trace:

`webapi [2018-02-07 11:17:11,653] ERROR - Dispatcher - key not found: http://www.knora.org/ontology/p0801-beol#mentionedIn
webapi java.util.NoSuchElementException: key not found: http://www.knora.org/ontology/p0801-beol#mentionedIn
webapi 	at scala.collection.MapLike.default(MapLike.scala:232)
webapi 	at scala.collection.Map

[2018-02-07 10:24] SepidehAlassi commented on #724
I pulled your changes, it fixes the issue. Thanks :)

[2018-02-07 10:25] #724 closed

[2018-02-07 11:05] benjamingeer commented on #724
No problem! Thanks for the stack trace, I've fixed the exception.

[2018-02-07 12:06] benjamingeer commented on #609
This is all done except for the last step, converting JSON-LD to the other formats.

[2018-02-07 12:09] benjamingeer commented on #595
I think this issue is resolved, since now we have project shortname as well as project ID. If not, please reopen it or open a new issue.

[2018-02-07 12:09] #595 closed

[2018-02-07 12:11] benjamingeer commented on #584
This has been done.

[2018-02-07 12:11] #584 closed

[2018-02-07 12:11] benjamingeer commented on #567
Does this still need to be done?

[2018-02-07 12:13] benjamingeer opened #725 "Allow resources to be returned in the simple schema"
Currently only the complex schema can be returned.

[2018-02-07 12:42] #286 closed

[2018-02-07 12:42] #603 closed

[2018-02-07 12:42] #104 closed

[2018-02-07 12:42] #157 closed

[2018-02-07 12:42] #242 closed

[2018-02-07 12:42] #579 closed

[2018-02-07 12:42] #710 closed

[2018-02-07 13:18] loicjaouen commented on #567
sorry about that, yes, it still has to be done.

why not:

[code]

or translated to `anything`:
[code]

[2018-02-07 13:23] loicjaouen commented on #567
now `v2` is kind of out we have to balance the work between implementing it in `v2` client side (standardizing a request and adding a parser for `v2` answers) and adding a `v1` route on the back-end.

[2018-02-07 14:46] mrivoal opened #726 "Salsah 1.5 image viewer doesn't respect image orientation"
![capture d ecran 2018-02-07 a 15 45 07](https://user-images.githubusercontent.com/17294309/35922451-ecf510fe-0c1d-11e8-9d01-91e896fa4e6e.png)

[2018-02-09 08:27] tobiasschweizer opened #727 "What is example.ttl? Should it exist?"
I cannot find the file. Why should it be loaded?

https://github.com/dhlab-basel/Knora/blob/f804346ed457f69ae3a65ab0b4a3da4c8d60feb7/webapi/scripts/graphdb-knora-test-data.expect#L49

[2018-02-09 08:36] tobiasschweizer commented on #727
[code]

[2018-02-09 08:38] benjamingeer commented on #727
It should not exist, you can remove that line from the script.

[2018-02-09 08:45] tobiasschweizer commented on #727
ok, it will be done once PR #722 is merged

[2018-02-09 10:01] janCstoffregen opened #728 "Version Control between Knora Salsah, Sipi and GraphDB"
Dear Reader,
I don't have a clue which version of the software mentioned above works with one another.

I get in trouble when I update only one part of the software mentioned above, then the whole set of software might not work together anymore. For example, I just tried to update Salsah, but it does not work anymore with a version of Knora being two months old. In addition, sometimes all current

[2018-02-09 10:29] loicjaouen commented on #728
super cool compose script!

I would recommend to use [tagged releases](https://github.com/dhlab-basel/Knora/releases) instead of [commits](https://github.com/nie-ine/Scripts/tree/master/docker-compose-deployment-Knora-Salsah-Sipi-GraphDB/Knora) .

And the Knora/Salsah/Sipi dev teams should be able to tag releases and say which ones work with which ones.

[2018-02-09 10:43] benjamingeer commented on #728
All the develop branches are supposed to work together. If they don't, that's a bug, and we would be glad if you opened an issue to let us know.

We don't yet have official releases, but when we do, we're supposed to write release notes saying what's changed and what you have to do to upgrade.

[2018-02-09 10:51] janCstoffregen commented on #728
@loicjaouen
that would be amazing! If we would have tagged docker images on docker hub for each piece software and a simple table which ones work together, that would be amazing.

@benjamingeer
The problem is, that a version of Knora, being 2 months old, does not work with the current Salsah anymore. I don't want to update Knora though bc that will take time since the ontology might have changed a

[2018-02-09 10:56] benjamingeer commented on #728
Unless you report a specific bug, there's no way I can help you with this.

[2018-02-09 10:56] subotic commented on #728
This all is already on our (mine) todo list :-)

The docker images published on docker hub are generated on Travis after all tests (also integration tests) run successfully. At the moment, these tests don't include [Salsah2](https://github.com/dhlab-basel/Salsah).

The idea that I have, is to add `Salsah2` integration testing to the Knora repository. This way, we can make sure that all `develop` b

[2018-02-09 11:00] subotic commented on #728
One way would be to maintain a list of commit hashes in each repository denoting with which version it is compatible at the moment. But this would be a pain to do.

[2018-02-09 11:04] janCstoffregen commented on #728
Can we do this once per month maybe? As you say, it is painful to do so but it is also painful if each user has to find it out individually as well.

[2018-02-09 11:06] janCstoffregen commented on #728
Could we open one deployment - repository for all parts where those kinds of bugs can be registered? Otherwise I never know in which repository I can report those things as well since I don't know which software causes the error (sometimes knora reports an error but sipi is the problem)

[2018-02-09 11:27] benjamingeer commented on #728
Just make your best guess, and we'll figure it out.

[2018-02-09 12:40] benjamingeer opened #729 "Get rid of http://www.knora.org/ontology/dc"
No need for this anymore, since API v2 can use the real `dc` or `dcterms`.

[2018-02-09 12:43] tobiasschweizer commented on #729
yes, yes, let's get rid of knora-dc :-)

[2018-02-09 13:10] subotic commented on #728
The plan was to do it at least once a month. At the moment it takes a bit longer since I'm adding a few changes that require existing data to be changed, and wanted to bundle these changes into the same release.

[2018-02-09 13:18] janCstoffregen commented on #728
@subotic ok, great, thank you very much for this!! I can track the releases and test it with the other parts respectively and will try to post it to the right repository if I get a bug.

Please let me know if I can help in any way regarding the docker-compose deployment.

[2018-02-10 10:33] janCstoffregen opened #731 "Integrating NIE-INE ontologies in the dhlab Knora fork"
Dear dhlab,
we have been developing ontologies for our projects and would like to include them as a git submodule on our repository at your knora  branch.

Would that be ok? We would like to write some tests to test them as well so when new Knora versions occur we can update the ontologies in a faster manner.

Would that be ok? Which would be the right place for the submodule - folder?

Thank you

[2018-02-12 06:42] tobiasschweizer commented on #731
I was thinking that it is probably not a good idea to have project ontologies or even more standardized ontologies in the Knora git repo. Of course, system ontologies like `knora-base` or the `knora-api` ontologies need to be part of the Knora repo.

On the one hand we have Knora as a system, on the other you can run Knora with your own settings and custom ontologies. We would have to provide some

[2018-02-12 07:23] subotic commented on #731
Some time ago, we have decided to have two kinds of ontologies inside Knora: *System* and *Project*. The distinction being that System-Ontologies are shared between projects and Project-Ontologies are not. Beeing a System-Ontology brings with it some restrictions, like not be able simply change them in a way that could brake existing projects.

Also, we discussed the possibility of a *Comunity Rel

[2018-02-12 07:44] subotic commented on #731
I would also suggest the following procedure for project specific tests in general:

If in a branch, any project specific tests fail, then one of the project developers should be contacted and tasked to fix the issue. This way, this project will be aware of any problems or data migration needs, before this branch is merged back into `develop`. If the issues are not resolved in a timely maner, then

[2018-02-12 08:03] subotic commented on #270
This seems to be already fixed.

[2018-02-12 08:03] #270 closed

[2018-02-12 08:05] subotic commented on #638
related with #292

[2018-02-12 08:43] tobiasschweizer commented on #646
@subotic this should be decided in the router: https://github.com/dhlab-basel/Knora/blob/f804346ed457f69ae3a65ab0b4a3da4c8d60feb7/webapi/src/main/scala/org/knora/webapi/routing/RouteUtilV2.scala#L81

We should also support XML (this could be generated from JSON-LD)

[2018-02-12 09:13] #200 closed

[2018-02-12 09:16] subotic commented on #371
not relevant anymore as the update functionality is removed from `v1`

[2018-02-12 09:16] #371 closed

[2018-02-12 19:56] #729 closed

[2018-02-13 11:03] subotic opened #733 "Thinking about better (read: nicer looking, easier to use, etc.) documentation"
There is now an extension to markdown, allowing us to do all the things that made us change to RST in the first place:

- https://github.com/lightbend/paradox
- https://developer.lightbend.com/docs/paradox/latest/

Main advantages:
- based on markdown and thus easier to use than RST. we could simply copy/paste markdown from issues/pull-request. think of release notes, documentation, examples.
- so

[2018-02-13 11:06] subotic commented on #733
@benjamingeer and I talked about making [www.knora.org](http://www.knora.org) more informative. This would be one of the important puzzle pieces.

[2018-02-13 11:10] subotic opened #734 "Thinking about better www.knora.org website"
Github pages support https://jekyllrb.com. Maybe we could create a simple site with some nice styling using jekyll. All pages would be written in markdown and the automatically build and published by Github.

[2018-02-13 11:28] subotic opened #735 "Release process"
Necessary steps for each release:

 0. Create a new branch, e.g., `releasing-v1.2.0`
 1. Update the version number in `WebapiBuild.sbt`, `SalsahBuild.sbt`, `conf.py`
 2. Check if all release notes are there. They should be added as part of the pull-request introducing any code changes
 3. Remove the `(not released yet)` text in the title of the release notes
 4. Create a new page with the next ver

[2018-02-13 11:28] benjamingeer commented on #733
Paradox looks great! Let's switch.

I think knora.org should look something like these pages:

* https://akka.io/
* https://jekyllrb.com/

Most important:

* They make it clear what the software does
* They have a clearly visible "quick start" ("get up and running", "try Akka")

[2018-02-13 11:29] benjamingeer commented on #734
I think knora.org should look something like these pages:

* https://akka.io/
* https://jekyllrb.com/

Most important:

* They make it clear what the software does
* They have a clearly visible "quick start" ("get up and running", "try Akka")

[2018-02-13 13:33] musicEnfanthen commented on #735
If `git flow` is still a considerable workflow (compare #522), the procedure there would be to checkout a separate `release` branch from `develop` in the state in which it shall be released, then do all the release relevant stuff you mention in 1-4, then merging this `release` branch to `master` with tags, and at the same time back-merge to develop (without tags). Finally remove the release branch

[2018-02-13 14:15] subotic commented on #735
This was also my/our initial idea based on [this](http://nvie.com/posts/a-successful-git-branching-model/) article. This is the reason why we have a `develop` branch.

But this was a few years back, and now the trend goes towards only one `master` branch, like described [here](https://softwareengineering.stackexchange.com/questions/312022/the-trend-of-the-develop-branch-going-away). In our case, t

[2018-02-13 15:41] #702 closed

[2018-02-13 16:15] benjamingeer opened #736 "Allow text values to have a language tag"
We need to be able to:

* Create text values with language tags in API v1 via bulk import.
* Filter text values by language in KnarQL in API v2.

Implementation in API v1:

* Add a property `language` to `knora-base`, and give `TextValue` an optional cardinality for it.
* Add an optional attribute for it in the bulk import XML schema.
* Add `def language: Option[String]` to `TextValueV1`, and corr

[2018-02-14 10:35] musicEnfanthen commented on #735
Yes, I can see your point. And as is obvious from the sources you mentioned, it is definitely a question of taste or even ideology. In my own project, I always liked the feeling of having a "high-stable" `master` branch with only tagged releases on it, and a (also always stable) `develop` branch that collects all new features until the new release. It feels like having a "two-way authentication" f

[2018-02-14 11:50] benjamingeer opened #738 "Refactor OntologyResponderV2 to use type information from the triplestore"
`PredicateInfoV2` needs to know which of its objects are IRIs, so it can convert their schemas when needed. Now that #668 is done, it could use `LiteralV2` instead of strings. But this means refactoring `OntologyResponderV2.loadOntologies` and `getResourceClassDefinitions.scala.txt` to use `CONSTRUCT` instead of `SELECT`.

[2018-02-15 09:32] loicjaouen opened #740 "`/v1/resources`'s `lastmod` is always `0000-00-00 00:00:00`"
When requesting a resource, it's `lastmod` field is left *blank* as shown in the current tests:

- search github for `lastmod`: https://github.com/dhlab-basel/Knora/search?utf8=%E2%9C%93&q=lastmod&type=
- data spec: https://github.com/dhlab-basel/Knora/blob/59c47710e83f7797da64ae9fbd2ec7857152b0bc/webapi/src/test/scala/org/knora/webapi/responders/v1/ResourcesResponderV1SpecContextData.scala
- test

[2018-02-15 09:33] loicjaouen commented on #740
Note: the data is correctly handled in the triple store, the information is lost in the resource responder

[2018-02-15 09:45] benjamingeer commented on #740
I remember that we did it this way to imitate the old SALSAH, in which the GUI doesn’t use the last modification date. But this should be easy to add.

[2018-02-15 12:40] subotic commented on #4
Maybe useful: https://gatling.io

It is Scala-based, so it should be easy to integrate and it has a cool name :-)

[2018-02-15 13:57] tobiasschweizer opened #741 "Load testing"
I could successfully import my data on January 30th. Since the update of the akka version I get this error after a while:

[code]

It occurs at different times, so it is probably not related to the data itself.

As a temporary solution, I changed the akka version back and are running the job again.

[2018-02-15 14:48] tobiasschweizer commented on #741
see https://github.com/akka/akka-http/issues/1461

[2018-02-15 14:50] tobiasschweizer commented on #741
we should add load tests to Knora (both for reading and updating data)

[2018-02-15 18:09] subotic commented on #741
on which branch are you?

[2018-02-15 18:12] subotic commented on #741
or more precise, which version of akka didn't work and which does work?

[2018-02-15 23:55] subotic commented on #741
or better yet, what steps do I need to take, to be able to reproduce this?

[2018-02-16 09:45] benjamingeer opened #744 "salsah-gui:guiAttributeDefinition is undocumented and inconsistent"
As part of #737, I'm writing documentation on `salsah-gui`, and I've noticed some things that seem inconsistent.

### guiAttributeDefinition

It looks like `guiAttributeDefinition` defines the types of attributes that are accepted by each `Guielement`. But:

* `Pulldown` has `guiAttributeDefinition "selection=api:lists"`, and `List` has no `guiAttributeDefinition`. In the test ontologies, both `Pu

[2018-02-16 09:46] benjamingeer commented on #744
Also, what is ``salsah-gui:Iconclass``?

[2018-02-16 09:48] benjamingeer commented on #744
In test ontologies, `salsah-gui:Radio` also has `salsah-gui:guiAttribute "hlist=..."`.

[2018-02-16 09:51] benjamingeer commented on #744
How is `Textarea` different from `Richtext`? Is the difference that `Textarea` is unformatted?

[2018-02-16 10:15] mrivoal commented on #744
Maybe I can help you with something, for a change :)

`Pulldown` is used to display a flat list whereas `List` is for hierarchical list.

Yes.

[2018-02-16 10:18] lrosenth commented on #744
Not Yet Impleneted. Should be like geonames or GND a link to iconcalss.org <http://iconcalss.org/>… Need a GUI component to select a iconclass ID (iconographic autority file)…

Work in progress (standing still in the moment…)

Lukas

[2018-02-16 10:18] lrosenth commented on #744
TextArea has no standoff/formatting, RichText ads the CKEditor...

[2018-02-16 10:39] benjamingeer commented on #744
Do `restypeid` and `numprops` here have something to do with `restype_id` and `numprops` in [Search for Resources by their Label](http://www.knora.org/documentation/manual/rst/knora-api-server/api_v1/reading-and-searching-resources.html#search-for-resources-by-their-label)? If so, is this something that's needed only for API v1? Can this just be handled by KnarQL queries in v2?

[2018-02-16 11:03] tobiasschweizer commented on #741
ok, with

[code]

everything worked fine again!

[2018-02-16 11:17] tobiasschweizer commented on #741
I was on branch `https://github.com/dhlab-basel/Knora/tree/wip/goldbach_beta_release` using

[code]

[2018-02-16 11:18] tobiasschweizer commented on #741
I think it will be hard to reproduce. Basically you need to keep it busy with huge import job and then after one and a half hours it throws an exception.

[2018-02-16 11:33] tobiasschweizer commented on #744
Yes, I think so.

[2018-02-16 13:25] benjamingeer commented on #744
I found several incorrect cases of `salsah-gui:guiAttribute "hlist=<...>"` in the test ontologies. I'm thinking I should make the ontology responder check, when it loads the ontology, that the `hlist` IRIs used in `salsah-gui:guiAttribute` actually exist and refer to lists.

[2018-02-17 00:30] benjamingeer commented on #744
In #737 I redesigned how `guiAttributeDefinition` works, so the API server can validate the objects of `guiAttribute` when it loads ontologies from the triplestore (and will later be able to do so when creating new properties via the API). I think I also fixed all the GUI attribute errors in the test data.

[2018-02-20 12:41] benjamingeer opened #746 "Include guiElement and guiAttribute in API v2"
* Show `salsah-gui:guiElement` and `salsah-gui:guiAttribute` when serving ontologies in API v2.
* Allow `salsah-gui:guiElement` and `salsah-gui:guiAttribute` to be updated via API v2.

[2018-02-20 12:43] benjamingeer commented on #746
This should involve serving the `salsah-gui` ontology, which can be constructed in `OntologyResponderV2` based on the information read from the triplestore in #737.

[2018-02-20 19:41] subotic opened #747 "In which data graph should we store a new list if there are multiple ontologies defined?"
When I want to create a new list, then I need to create it inside the project's data graph to which the list belongs.

Before, we had only one data graph. Now with the possibility to define multiple ontologies, into which data graph should the list go?

Into which data graph do new resources go when there are multiple ontologies defined?

Can we maybe require that one of the ontologies defined nee

[2018-02-20 19:51] subotic commented on #747
@benjamingeer I think that before we had a method somewhere that could calculate the data graph IRI from the ontology IRI. Do you maybe know where to find it?

[2018-02-20 21:25] benjamingeer commented on #747
Unless I'm confused, each project can have:

* Exactly one data graph. All the project's resources go into this graph. The project's lists could go there, too.
* One or more ontology graphs.

The method `StringFormatter.projectDataNamedGraph` generates the IRI for a project's data named graph.

[2018-02-20 21:27] benjamingeer commented on #747
Also I think these two lines can be deleted:

https://github.com/dhlab-basel/Knora/blob/5fe34b13a68d10583bfaae54dc946ce8fbd65c4b/webapi/src/main/scala/org/knora/webapi/responders/admin/ProjectsResponderADM.scala#L399
https://github.com/dhlab-basel/Knora/blob/5fe34b13a68d10583bfaae54dc946ce8fbd65c4b/webapi/src/main/scala/org/knora/webapi/responders/admin/ProjectsResponderADM.scala#L400

[2018-02-20 21:37] benjamingeer commented on #747
You added the method `StringFormatter.projectDataNamedGraph` in this commit:

https://github.com/dhlab-basel/Knora/commit/59c47710e83f7797da64ae9fbd2ec7857152b0bc#diff-659c65d367a0897435d7612e0d1b8a4bR1515

😀

[2018-02-20 22:44] subotic commented on #747
I'm getting old. Cant even remember what I did 3 months ago.

I was also slightly panicking. I don't know why I thought that we would need more than one graph for the data.

Thanks :-)

[2018-02-20 22:49] benjamingeer commented on #747
No worries. :)

[2018-02-20 22:49] #747 closed

[2018-02-21 00:18] subotic opened #749 "Travis publish stage failing on develop"

[2018-02-21 10:34] subotic opened #750 "LiteralV2 / StringLiteralV2 / BooleanLiteralV2"
It seems that LiteralV2, StringLiteralV2, and BooleanLiteralV2 are defined in:

- `org.knora.webapi.messages.store.triplestoremessages.TriplestoreMessages.scala`
- `org.knora.webapi.messages.v2.responder.KnoraResponseV2.scala`

This makes it highly confusing to use with IntelliJ. I will rename the ones in `TriplestoreMessages` to something like `LiteralTS`, etc.

[2018-02-21 10:39] benjamingeer commented on #750
Probably I meant to move them to KnoraResponseV2, and forgot to remove them from the other place. I thought they shoud be in the more generic package because I needed to use them in ontology messages. Can we just have them in one place? Sorry for the confusion.

[2018-02-21 10:54] subotic commented on #750
No problem. Are they the same? There are slight differences.

[2018-02-21 11:36] subotic commented on #750
The ones defined in KnoraResponseV2 don't seem to be used anywhere. Could they be deleted?

[2018-02-21 13:41] benjamingeer commented on #750
Yes, clearly I got confused while I was working on that code. Looking at the code again now, I think you can delete the ones in `KnoraResponseV2` and leave the ones in `TriplestoreMessages` as they are. They will eventually be used in ontology messages, too, but I guess that's OK.

[2018-02-21 13:59] subotic commented on #750
great, thanks 😄

glad that I’m not the only one who gets confused from time to time 😉

[2018-02-23 10:43] #749 closed

[2018-02-23 23:12] subotic opened #753 "Think about how to serve ontologies"

[2018-02-25 02:12] #638 closed

[2018-02-25 13:30] #750 closed

[2018-02-26 09:05] kilchenmann opened #754 "Compiling errors"
After pulling the newest setup from develop branch, I get the following errors while compiling:

[info] Compiling 309 Scala sources to [...]/knora/webapi/target/scala-2.12/classes ...
[warn] [...]/knora/webapi/src/main/scala/org/knora/webapi/messages/v2/responder/KnoraResponseV2.scala:27:60: imported 'LiteralV2' is permanently hidden by definition of trait LiteralV2 in package responder
[warn] imp

[2018-02-26 09:17] benjamingeer commented on #754
Oops. :)

[2018-02-26 09:43] subotic commented on #754
No, `develop` compiles just fine. Did you try to do an `sbt clean`?

[2018-02-26 10:24] kilchenmann commented on #754
That was a good point. My mistake, I'm sorry. Thanks!

[2018-02-26 10:24] #754 closed

[2018-02-26 16:54] #601 closed

[2018-02-26 16:54] #744 closed

[2018-03-01 07:15] tobiasschweizer commented on #741
@subotic any news on that? I think it is a known Akka issue.

[2018-03-01 08:40] subotic commented on #741
According to https://github.com/akka/akka-http/issues/1460, something like this should fix it:

[code]

I will open a PR and add this. Then you could try it out.

[2018-03-01 09:06] tobiasschweizer commented on #741
@subotic You would have to add that where Knora communicates with the triplestore?

I could surely try it out but it takes about one hour or even more to provoke the error.

[2018-03-01 09:28] subotic commented on #741
Now that you mention it. I have added this to the `KnoraService`, but there it won't do much good in this case. Although, `KnoraService` would probably also need something like this.

[2018-03-01 09:29] tobiasschweizer commented on #741
These things are really hard to test for. Maybe we can provoke it with load tests you added (both reading and writing)?

[2018-03-01 09:38] subotic commented on #741
That would be my preferred way.

Looking at `HttpTriplestoreConnector` we only have this line

[code]

that initiates the request. Maybe it is a parameter issue? Or maybe it will work with the newest RC for `akka-http`? The current `develop` has `akka-http - 10.1.0-RC2`

It would be the easiest if we could recreate this in a test.

[2018-03-01 09:55] tobiasschweizer commented on #741
hm, my scenario is to load a lot of data into Knora. This is not very specific ;-)

[2018-03-01 11:27] subotic commented on #741
Is there maybe a curl request and data that you can think of? I could then package this into a test.

In your import, are you creating resources sequentially or is there some parallelism involved?

[2018-03-01 12:59] benjamingeer opened #760 "Does the distinction between hasProperties and hasStandoffProperties make sense?"
In the JSON-LD returned by the ontology routes, some properties go in `hasProperties` (if they’re used on resources or values), and others go in `hasStandoffProperties` (if they’re used on standoff tags). But what if a property is used both on values and on standoff tags (like `valueHasUri`)? Where should it go? Should we even have this distinction, or could we get rid of it?

[2018-03-01 13:05] benjamingeer commented on #760
And actually, do we need `hasStandoffClasses`? Could we just have a boolean `isStandoffTag` on each standoff class?

[2018-03-01 15:40] tobiasschweizer commented on #760
I guess that would make sense. Actually, we also flagged properties in a way so they can be distinguished from resource classes. So  we could also flag standoff props.

[2018-03-01 15:41] tobiasschweizer commented on #760
sorry, I meant value classes and standoff classes.

[2018-03-01 15:43] benjamingeer commented on #760
OK, so I will make it like this:

* `hasClasses`
* `hasProperties`
* `hasIndividuals`

And I will add flags to distinguish resource classes from standoff classes, and resource properties from standoff properties.

[2018-03-01 15:43] tobiasschweizer commented on #760
Just keep in mind that the ontology service in the SALSAH GUI might have to be adapted accordingly.

[2018-03-01 15:44] benjamingeer commented on #760
Actually, sorry, what I just said makes no sense, because is `valueHasUri` a standoff property? It's used in standoff classes but also in values.

Do we actually need to flag standoff properties? Isn't it enough that we have the cardinalities in standoff classes, to find out which properties they need?

[2018-03-01 15:47] tobiasschweizer commented on #760
If they show up like other properties, the GUI will display them in the extended search form if they cannot be distinguished from other props.

[2018-03-01 15:52] benjamingeer commented on #760
Doesn't that just mean that the GUI needs to know which properties are resource properties (which it should use in the extended search form)? Why would it need to distinguish between, say, `valueHasColor` (which is used in `StandoffColorTag` as well as in `ColorValue`) and `dimX` (which is used in `StillImageFileValue` but not in any standoff tag)?

[2018-03-01 16:45] benjamingeer commented on #648
Serving `salsah-gui` is taken care of in #746, along with serving `standoff` as-is (not adapting it for the schema).

For the rest, I'm starting to think that instead of maintaining fully hard-coded API ontologies in Scala, it would be easier to maintain some representation of the differences between internal and external ontologies.

[2018-03-01 16:58] tobiasschweizer commented on #741
the import is really stupid (as I am myself :-))

it is simply a loop that creates resources one after an other using http://docs.python-requests.org/en/master/

[2018-03-01 17:28] tobiasschweizer commented on #741
How can I downgrade to

[code]

This used to work fine two weeks ago. Now it is not possible anymore because of other dependencies.

Otherwise the import does not work. I urgently need to get the data in.

[2018-03-01 23:15] subotic commented on #741
You can downgrade, but you would need to revert changes from this [commit](https://github.com/dhlab-basel/Knora/commit/c7dcc1581c61ae91b90e177edabf3a3ebdd268e0#diff-c659264b70ddaf5817a9cb7080843327) for `SipiResponderV1.scala` and maybe also some other files.

[2018-03-02 07:08] tobiasschweizer commented on #741
Everything is pink, I simply love software!

It worked with the current settings:

[code]

However, I got this when entering sbt on branch goldbach beta release:

[code]

[2018-03-02 09:28] subotic commented on #741
Those warnings are “normal”. Every time I solve one conflict. Two more pop up.

So, the import works with RC2 of `akka-http`?

[2018-03-02 09:49] tobiasschweizer commented on #741
The import went through, yes. I guess I would have to try it several times to be sure.

We should set up some load tests together next week.

[2018-03-02 09:51] tobiasschweizer commented on #741
Maybe we can just run the integration tests two thousand times in a loop. This is basically what my import does.

[2018-03-02 10:15] tobiasschweizer commented on #741
No, Travis cannot possibly run them.

We should also involve a running Sipi instance so the scenario gets more realistic. Like my import ;-)

[2018-03-02 15:28] benjamingeer commented on #648
I now think we should convert `knora-base` into the `knora-api` ontologies, adding and subtracting things as needed. This would include logic for transforming standoff classes, and the same logic could be applied when serving the `standoff` ontology` as well as standoff classes in project-specific ontologies.

In #746 I refactored ontology caching to make this easier. Now each ontology, including

[2018-03-02 15:54] tobiasschweizer commented on #648
Are you saying we should get rid of the hard-coded ontologies in Scala?

[2018-03-02 15:55] benjamingeer commented on #648
I think we should just hard-code the specific differences, e.g. `knora-api:DateValue`, but not the whole `knora-api` ontology.

[2018-03-02 16:21] benjamingeer opened #762 "Transform knora-base and standoff to get knora-api and standoff in API v2"
As a result of #648 (Serve salsah-gui and standoff ontologies), I think that the current approach of hard-coding the whole `knora-api` ontology in Scala, in both schemas, should be changed. Instead, we should generate what we can by transforming `knora-base`, and hard-code only what is necessary.

The reason is standoff. Project-specific ontologies contain their own standoff classes, and these cla

[2018-03-02 16:22] benjamingeer commented on #648
Moved the rest of this to #762.

[2018-03-05 12:43] #727 closed

[2018-03-05 16:28] tobiasschweizer opened #763 "refactor splitMainResourcesAndValueRdfData so it uses SparqlExtendedConstructResponse"
- use `SparqlExtendedConstructResponse` so the language tag can be taken into account
- do not return a list node's label for a list value. Instead, the client has to make a request to the v2 list route (requires a change in SALSAH)
- make case class for `Map[IRI, ConstructResponseUtilV2.ResourceWithValueRdfData]`
- make case class for `Map[IRI, Seq[ValueRdfData]]`

[2018-03-05 16:29] tobiasschweizer commented on #763
[code]
def createValueContentV2FromValueRdfData(valueObject: ValueRdfData, mappings: Map[IRI, MappingAndXSLTransformation]): ValueContentV2 = {
        val stringFormatter = StringFormatter.getGeneralInstance

        // every knora-base:Value (any of its subclasses) has a string representation
        val valueObjectValueHasString: String = valueObject.assertions(OntologyConstants.KnoraBase.Value

[2018-03-05 16:30] tobiasschweizer commented on #763
https://github.com/dhlab-basel/Knora/issues/763

[2018-03-06 09:07] #549 closed

[2018-03-06 09:07] #685 closed

[2018-03-06 13:09] SepidehAlassi commented on #736
![](https://github.trello.services/images/mini-trello-icon.png) [language Specification for textValue](https://trello.com/c/kJ8xvtHo/85-language-specification-for-textvalue)

[2018-03-07 10:28] loicjaouen commented on #741
If ever it might help, I just committed some code with the [python knora/sipi wrapper](https://github.com/LaDHUL/KnoraImport) that we use to import projects.

The interesting part is the [error recovery](https://github.com/LaDHUL/KnoraImport/blob/master/knora/api_er.py) part that excuses most of Knora/Sipi hiccups.

[2018-03-07 15:45] benjamingeer opened #766 "Figure out how Travis can pass a GitHub API token to a command-line program"
Needed by #765.

[2018-03-07 15:48] benjamingeer commented on #766
Maybe someday...

[2018-03-07 15:48] #766 closed

[2018-03-07 16:01] #746 closed

[2018-03-07 16:01] #760 closed

[2018-03-09 09:14] loicjaouen commented on #726
depends on https://github.com/dhlab-basel/Sipi/issues/228

[2018-03-10 00:10] subotic opened #769 "Webapi not connecting to GraphDB with security enabled"
After security is turned on in GraphDB, even with provided username and password in the configuration, `webapi` is not able to communicate with the triplestore.

[2018-03-10 10:08] subotic opened #770 "Bash missing in alpine based webapi docker image"

[2018-03-10 10:09] subotic opened #771 "Missing aspectjweaver jar in webapi docker image"

[2018-03-10 11:03] #583 closed

[2018-03-10 11:54] #738 closed

[2018-03-11 10:09] subotic commented on #550
Would be nice, if it would take a `username` and `password` so that it also works when GraphDB's security is enabled.

[2018-03-11 10:11] subotic commented on #550
Ah, LoadRDF is for offline loading.

[2018-03-11 10:16] benjamingeer commented on #550
Yes, I hadn’t realised LoadRDF was only for offline loading when I opened this issue. So maybe there’s not much point in doing this.

[2018-03-11 13:05] subotic commented on #769
works as expected. the error was on my side. the configuration file I used was not correct.

[2018-03-11 13:05] #769 closed

[2018-03-11 13:58] subotic commented on #550
Hmm, maybe we should build the initial setup into `webapi`? Something like, if no repository is found, then create the defined repository with all the basic ontologies and the root user.

After that, it should be easy to load additional data with simple curl requests. Also, I have discovered [Trig](https://www.w3.org/TR/trig/). It's turtle with additional graph information. Basically, the content

[2018-03-11 14:43] subotic opened #772 "Disallow changing or using the system and anonymous user"
- Need to check explicitly for `system@localhost` and `anonymous@localhost`, and return an error.
- Don't allow any changes to those two users
- Those two users should not get returned by the admin API as actual users.

[2018-03-11 16:26] benjamingeer commented on #550
I think as a user, I would rather create the repository myself than have webapi create it automatically for me. There are a lot of GraphDB configuration settings that you can set when you create the repository, and this is something that users may want to customise.

About Trig, yes it looks great, I'm just not sure how widely supported it is by other triplestores.

[2018-03-11 17:00] subotic commented on #550
I thought we are talking about the 'make-it-as-simple-as-possible' case. If someone knows what he is doing, then he can go and create the repository by hand (GUI or command line) and tweak whatever he likes. The automatic creation could be a parameter, so only if started with this parameter, `webapi` would create the repository.

Anyway, I want and need something like this :-) Currently, the initi

[2018-03-11 17:14] benjamingeer commented on #550
OK, that all sounds good to me!

[2018-03-12 09:48] subotic opened #773 "Travis testing of NIE-INE Ontologies"
@janCstoffregen wrote:

Lieber Ivan,
ich habe im Branch https://github.com/dhlab-basel/Knora/tree/NIE-328-migrate-ontologies/webapi/_test_data/ontologies unsere repo als Submodul hinzugefügt. Nun habe ich ein wenig mit dem .travis.yml herumprobiert, wie das Testen von unseren Ontologien sinnvoll integriert werden kann, sodass bei Änderungen der Ontologie - Schreibweise von Knora diese durch den Te

[2018-03-12 13:58] benjamingeer opened #774 "Generate knora-api ontologies, and convert standoff classes to external schemas"
Following on from #648:

When we serve ontologies containing standoff classes, those classes need to be converted to the appropriate external schema. For example, `StandoffDateTag` needs to look something like `DateValue` in the external schema. This needs to work both for the `knora-api` ontologies and for project-specific ontologies. It would be possible to hard-code the standoff tags in `knora-

[2018-03-13 09:49] janCstoffregen commented on #773
Lieber Ivan,
mir war nicht bewusst, dass ihr Submodule nicht möchtet. Somit werden wir unsere Ontologien einfach reinkopieren. Wäre es in Ordnung, unsere Ontologien in dem Test - Data - Ordner in einem extra Ordner zu haben, sodass erkenntlich ist, dass die NIE-INE Ontologien eine Einheit bilden und sodass das kopieren ein wenig handlicher wird?

Mit dem "Einlesen" der Ontologien meine ich das neu

[2018-03-13 10:10] subotic commented on #773
Unbedingt :-) So wie die bestehenden Ordner strukturiert sind, z.Bsp. `other.v1.NieIneV1Spec` oder `other.v2.NieIneV2Spec` jeh nachdem in welchem Package der Test leben wird.

Ach so. Nein es funktioniert anders. Am Anfang von jedem Test, werden die Daten neu geladen. Während diesem Ladevorgang, sagt GraphDB ob es Probleme gab oder nicht. Zu keinem Zeitpunkt wir GraphDB neu gestartet. Somit können

[2018-03-13 10:36] benjamingeer commented on #773
GraphDB prüft die Ontologien leider nicht, denn die „consistency check“-Regeln, die wir für GraphDB programmiert haben, behandeln nicht die Ontologien, sondern nur die Daten (das heißt die Ressourcen), die man lädt. Aber Knora prüft die Ontologien, wenn es sie lädt. Wir können also wirklich einen Test hinzufügen, welcher nichts anderes macht, als die NIE-Ontologien zu laden.

[2018-03-13 11:08] benjamingeer commented on #773
Aber die Kontrollen, die Knora den Ontologien unterzieht, wenn es sie lädt, sind bisher auch ziemlich begrenzt. Wenn man aber eine neue Ontologie mit der Knora-API v2 schafft, wird sie besser kontrolliert:

http://www.knora.org/documentation/manual/rst/03-knora-api-server/api_v2/ontology-information.html

Die strenge Prüfung von geladenen Ontologien ist ein Ziel, das wir eines Tags erreichen wolle

[2018-03-13 11:13] janCstoffregen commented on #773
Ok, ich werde mir mal anschauen und einen Test einrichten. Vielen Dank für die Hinweise, ich denke, es wird so funktionieren!

[2018-03-13 14:58] benjamingeer opened #777 "Move admin stuff out of knora-base into a knora-admin ontology"
This would make it possible to have a clear separation between things that can be manipulated via API v2 (which stay in `knora-base` and are published in `knora-api`) and things that can be manipulated via the admin API (which go in `knora-admin`).

[2018-03-13 15:36] benjamingeer opened #778 "Improve validation of ontologies created outside API v2"
The resolution of #286 was that we would focus on validating ontologies created via API v2. But there is also interest in better validation of ontologies created outside the API and loaded when Knora starts: #773. I think it shouldn't be difficult to refactor `OntologyResponderV2` somewhat to do the following after loading all ontologies:

* Check that all classes defined in project-specific ontol

[2018-03-14 16:10] benjamingeer opened #779 "Delete an ontology"
Forgot to implement this. :)

@lrosenth

[2018-03-14 16:51] loicjaouen opened #780 "get a resource's contributors list"
# Editing a value

Here is a representation of a *Resource* an a *value* created by the user *Ben* on 2018-03-11:
![contributor](https://user-images.githubusercontent.com/3933654/37416425-0887cd88-27ae-11e8-80fe-6f2c08e2c895.png)

There is a timestamp `valueCreationDate` on the *value* holding its creation time.
*(This information is reported to the *Resource*'s timestamp `lastModificationDate`)*

[2018-03-14 19:16] #770 closed

[2018-03-14 19:16] #771 closed

[2018-03-15 12:00] tobiasschweizer opened #783 "Bug: ListValue type in KnarQL"
[code]

-> in the SPARQL Construct query, the label has to be queried too.

[code]

[2018-03-15 12:07] benjamingeer commented on #783
Please try this with #775 (branch `wip/generate-knora-api`) and see if it's better or worse.

[2018-03-15 12:51] tobiasschweizer commented on #783
I think the problem is just that the triplestore just returns the Iri of a list node but not its label.

Recently, we added that to `src/main/twirl/queries/sparql/v2/getResourcePropertiesAndValuesGraphDB.scala.txt`:
[code]

Since the results are processed in a generic way, also a KnarQL query needs to return the label of a list nod pointed to (because the label is expected to be there).

[2018-03-15 13:30] janCstoffregen commented on #773
Hi, I have removed the submodule and added the nie ontologies. Would you mind pointing me in the right direction how I can write a test which only loads the ontologies. I have to admit that I don't have any idea how to do that.

[2018-03-15 15:20] subotic commented on #773
on what branch are you on? is there an open PR?

[2018-03-15 17:03] loicjaouen opened #785 "Compounded Resources"
# Compounded Resources

We would like to have a way to describe composition links between resources and to have the same benefits on such linked resources as if they were values, namely be able to include them in the main resource's list of contributors as in #780.

Compounded resources are resources that have a [composition](https://atomicobject.com/resources/oo-programming/object-oriented-aggreg

[2018-03-15 17:05] loicjaouen commented on #785
@benjamingeer adds that maybe all the compounded resources could be changed in an atomic transaction by acquiring locks on resources in a deterministic order.

[2018-03-16 10:56] janCstoffregen commented on #773
Hi, I'm still on the same branch, I have to change the graphdb input script to its old version so it will work and I wanted to write a test that imports the ontologies like Ben described it, then I can make a pull request.. Would you mind sending a link to an example test that tests another ontology? That would be amazing!

[2018-03-16 11:00] benjamingeer commented on #773
Here's an example:

https://github.com/dhlab-basel/Knora/blob/develop/webapi/src/test/scala/org/knora/webapi/other/v1/DrawingsGodsV1Spec.scala

[2018-03-16 11:02] janCstoffregen commented on #773
Cool, thank you, that is very helpful for me!

[2018-03-16 11:07] benjamingeer commented on #773
You only need the test in `"Load test data"`. The `LoadOntologiesRequest` goes to `OntologyResponderV2`, which loads the ontologies. If the `LoadOntologiesResponse` message is received, this means that the responder found no errors. (Although as I said, it does very little error-checking at the moment. See #778.)

[2018-03-16 11:24] janCstoffregen commented on #773
ok, I'll work on it today, thank you for this hint, after I understand it maybe we can participate in the consistency checking, @hanscools did lots of consistecy checking for Raeber, directly over Sparql, maybe those tests can be generalized so that we can integrate them as well, he found quite some faults in the imported data at fist, I have a feeling it might be helpful for other data as well, I

[2018-03-16 11:41] benjamingeer commented on #773
`OntologyResponderV2` reads all the ontologies and converts them to Scala data structures. It also allows new ontologies to be created (in Knora API v2):

http://www.knora.org/documentation/manual/rst/03-knora-api-server/api_v2/ontology-information.html

When you create a new ontology using API v2, it is checked very strictly in Scala. So the code to do these checks is already there. It just needs

[2018-03-16 12:23] subotic commented on #773
You can take a look at `DrawingsGodsV1Spec`. There you can see how a basic test is written. As @benjamingeer already wrote, you only need the first part with `"Load test data"`.

Also, please put all your ontologies and test data in a folder which is named like the test, e.g., if your test lives in `org.knora.webapi.other.v1.NieIneV1Spec`, then put all your ontologies and data inside `_test_data/o

[2018-03-16 12:27] subotic commented on #773
Also, I have opened PR #786, so going forward, any implementation specific discussion should be held there.

[2018-03-19 11:21] subotic opened #787 "Making Project-Shortcode required"
I think that we should finally make project-shortcode a required property. Up until now, we supported also projects without a defined project-shortcode.

Soon, we will need them for ARK, to be able to route requests to their correct servers.

So, now would be a good time to clean up the test data and any production data by adding the project-shortcode and move all IRI's to `http://rdfh.ch` like de

[2018-03-19 11:24] subotic commented on #787
Since I'm currently working on a bug with the lists API caused by the old style data in the `anything` project, I will make the changes to the `anything` project.

[2018-03-19 11:32] subotic commented on #787
An also to `Knora-Admin` making this a required property.

[2018-03-19 11:33] benjamingeer commented on #787
OK!

[2018-03-19 14:22] subotic commented on #777
@benjamingeer
@tobiasschweizer

While working on `admin-onto.ttl` I have come across these properties:

[code]

I have no idea what this is used for. Is this going to live in `knora-base`,  in `knora-admin`, or in some other ontology?.

[2018-03-19 14:56] subotic commented on #777
I love refactoring. You're are allowed to break stuff. The result of moving stuff inside `OntologyConstants`:

[code]

[2018-03-19 16:03] benjamingeer commented on #777
The map stuff in `knora-base` is for this:

https://github.com/dhlab-basel/Knora/issues/524

I’m not sure we still need it actually, but it could be used for things like user preferences. Let’s leave it in `knora-base` for now.

[2018-03-19 18:00] subotic commented on #777
ok, I will move it into `knora-base.ttl` then.

[2018-03-20 08:07] gfoo commented on #550
I've played a little bit with the different containers to prepare a compose for myself (and for other developers here in Lausanne) a kind of ready to use Knora stack for local dev and e2e testing and at this point I failed miserably :-| I don't have enough time now to go deeper and understand why graphdb crashed, why Knora have to wait for Graphdb is running, why it cannot connect to triplestore a

[2018-03-20 08:52] benjamingeer commented on #550
@gfoo the first thing the Knora API server does when it starts is connect to the triplestore, because without a triplestore it can’t do anything. So the triplestore haa to be started first.

[2018-03-20 08:55] benjamingeer commented on #550
@gfoo also it loads all ontologies from the triplestore on startup.

[2018-03-20 09:18] gfoo commented on #550
You will face some problems in a docker-compose distributed world, you cannot make any assumptions on the state (not started/crashed/network lags) of the other containers. Knora should run in any cases and at worst the API should return an HTTP 500 error "unreachable triplestore" and retry indefinitely to connect to the triplestore.

[2018-03-20 09:23] benjamingeer commented on #550
@gfoo OK, I think we can do that.

[2018-03-20 09:54] gfoo commented on #550
prefer HTTP 503, most meaningful in your case : https://fr.wikipedia.org/wiki/Liste_des_codes_HTTP

[2018-03-20 10:00] gfoo commented on #550
fix typo in my above message "reasonable frontend" (sorry didn't see my mistake, more understandable I presume now)

[2018-03-20 15:49] benjamingeer opened #789 "webapi prints DB user and password on console on startup"
Since merging from `develop`, when I start `webapi`, it prints:

[code]

Is this intentional?

[2018-03-20 22:28] subotic commented on #789
yes, intentional :-) lost hours wondering why I could not connect to a secured GraphDB. turned out to be an error in the config, so the wrong password was used. one day I will make it configurable, so that only if a flag is set in `application.conf` key properties are printed out.

[2018-03-20 23:14] benjamingeer commented on #789
I‘m concerned that this is a security risk. On a production system, the log output is likely to be saved to a file. If the sysadmin doesn‘t think to make the log file permissions restrictive enough, the database password could be readable by any process on the system.

[2018-03-20 23:45] benjamingeer commented on #789
Also, I think passwords shouldn‘t be printed to the console. Someone could be looking over the sysadmin‘s shoulder, or someone could copy and paste the log output into an email and not notice that the password is in it. I think good practice is never to display a password unless an authorised user explicitly asks for it. So I think it would be OK to make this a configuration option, but not to mak

[2018-03-21 10:55] subotic commented on #789
Changed the title of the issue. Will be implemented soon (TM) :-)

[2018-03-21 10:59] subotic commented on #777
Just a heads up. This has bigger consequences if done correctly. Existing data (beside the admin stuff) will need to be changed, e.g., permission strings.

[2018-03-21 14:19] #648 closed

[2018-03-21 14:19] #774 closed

[2018-03-21 15:25] benjamingeer commented on #725
I'd like to do this by accepting a custom header, `X-Knora-Accept-Schema`, which would take the following values:

* `default` (the default schema)
* `simple` (the simple schema)

[2018-03-21 17:32] #564 closed

[2018-03-21 17:49] subotic opened #791 "Building a prototype implementation of integrating sipi-core into webapi"
Following the discussion with @benjamingeer and @lrosenth . We would like to try and create a small implementation of a fake `sipi-core` interfacing with Scala over JNI. The goal is to find out if a solution like this is feasible and how much performance penalty it involves.

[2018-03-21 18:01] subotic opened #792 "Implement an automated way of updating existing data"
Following the discussion with @benjamingeer , we came to the conclusion that it would be a good idea to have an easy way of updating existing data, in the event of data-model changes. Currently, the system administrator would need to export the existing data and manually or via the `transform-data` application make the necessary changes. A very manual process, which leads to high reluctance to mak

[2018-03-21 18:04] tobiasschweizer commented on #792
You will need to come up with a way to ensure that all the information is still there and the data did not get corrupted.

I had to transform my data quite often and I always had to check that nothing got corrupted or lost my doing count queries in SPARQL and by actually looking at the output in SALSAH.

[2018-03-21 18:51] subotic commented on #792
yes, I will think of something.

[2018-03-22 10:17] mrivoal commented on #138
As this issue came out again last week, I would like to insist on it.

My point is the following: several projects have already expressed their needs to **customize a `Region`**. They would like to define themselves the relevant properties for what would be a `Region` (or a subclass of a `Region`) in their project. Basically, they want to be able to define a property pointing to a hierarchical lis

[2018-03-22 10:33] benjamingeer commented on #138
Definitely people need to be able to extend these entities. I would be inclined to say that we should require all these entities to be extended rather than used directly. I will talk to @lrosenth about this and see if we can set a clear policy.

[2018-03-22 10:44] gfoo opened #793 "Knarql and creationDate/lastModificationDate Resource"
is there a way to query the creationDate/lastModificationDate properties of a Resource ?

I know that they are not of type knora-api:Date, but I didn't find an other way.

My attempt :

[code]

in sparql of course :

[code]

thanks

[2018-03-22 17:39] benjamingeer commented on #787
This is going to affect @loicjaouen and @mrivoal, because they have at least one project without a shortcode.

[2018-03-22 17:39] benjamingeer commented on #787
Or rather, they used the shortcode as the project name.

[2018-03-22 18:29] subotic commented on #792
@benjamingeer I'm not sure that this is feasible if we only version the data graphs. The only safe way I see that could work (still probably not for all cases) is if we look at the whole repository (ontologies and data) as having a single version. Only then, when a user (system administrator) starts up a new version of `webapi` connected to a triplestore with an older version repository, we could

[2018-03-22 18:39] benjamingeer commented on #792
That sounds OK to me.

Suppose `knora-base:isPartOf` was renamed to `knora-base:isComponentOf`. Then you would just have to replace all triples like this:

[code]

with triples like this:

[code]

But there's no need to handle this as a special case. Just delete all the triples that have the old property IRI as a subject, predicate, or object, and replace them with triples that have the new proper

[2018-03-22 18:57] benjamingeer commented on #792
I think what we're talking about here is  having releases of `knora-base`. The repository would be tagged with the `knora-base` release number it uses. Then when `knora-base` gets a new release, the repository would have to be upgraded.

[2018-03-23 06:54] loicjaouen commented on #787
@benjamingeer thanks for thinking of us, but we are up to date with short codes and project names now, (at least on prod, we are using v1.1.0)

[2018-03-23 07:04] benjamingeer commented on #787
OK then I’ll change the IRI validation in webapi to require the shortcode.

[2018-03-23 07:37] loicjaouen commented on #792
There are a different ontologies, each data graph should point to a version of the ontologies it depends upon and we could have a dependency tree with update scheme.

The ontologies could be seen as APIs and released with a [sementic versionning](https://semver.org/) with X.Y.Z:
- Z: means no change on the data is required
  - for example, additions or internal change in the knora-base onto with b

[2018-03-23 07:40] benjamingeer commented on #792
I think we can't do that, because there can only be one version of `knora-base` in the triplestore at a time. So you can't have different graphs with different versions. The whole triplestore has to be upgraded at the same time.

[2018-03-23 07:47] loicjaouen commented on #792
Fully agree, still:
- _there can only be one version of knora-base in the triplestore at a time_, but there are also other ontologies (like `salsah-gui`)
- _The whole triplestore has to be upgraded at the same time_ but for the process to be automated, you have to know the steps by reading where you start from

[2018-03-23 08:37] benjamingeer commented on #792
Yes, but they all have to work together. I think we should have releases of "the Knora ontologies" as a package.

This is why Ivan is suggesting that we should tag the repository with the knora-ontologies version it uses.

The automated update just copied the existing `guiOrder` on the property to every cardinality for that property. The result should be the same.

I hope will will never change bu

[2018-03-23 09:26] subotic commented on #792
Yes, sounds good.

[2018-03-23 09:29] subotic commented on #792
wip in https://github.com/dhlab-basel/Knora/pull/788

[2018-03-23 09:42] subotic commented on #792
As the first case, I'm using the changes to the data necessary for the separation of `knora-base` and `knora-admin`. The new Knora ontology package will be known as version `1`. This means that the current Knora ontologies in `develop` are implicitly version `0`. This also means that Lausanne would first need to manually upgrade to version `0`, before an automatic upgrade to `1` can happen.

[2018-03-23 15:18] subotic opened #794 "We should probably remove the 'loadDemoData' flag"
The `loadDemoData` flag is of limited use, as it can only work if `webapi` is started through SBT. If a user manages to start `webapi` through SBT, then he should be able to run one of the repository initialization scripts that we have.

On the other hand, if we want to have a really easy way for someone to try out the Knora stack, then we should probably think of a "fat" docker image, where every

[2018-03-23 16:32] loicjaouen commented on #792
@subotic did we hear a ring? Sorry, just to be sure

do you assume that `develop` is knora [v1.2.0](https://github.com/dhlab-basel/Knora/releases/tag/v1.2.0)?

_manually_ means outside of the `webapi` auto upgrade mechanism?

If it is so, then:
- knora [v1.2.0](https://github.com/dhlab-basel/Knora/releases/tag/v1.2.0) depends on a set of _knora base ontologies_ that are tagged `v0`
- you develop a

[2018-03-23 17:11] benjamingeer commented on #792
Aren't Lausanne already using the Knora ontologies that are in `develop`?

[2018-03-23 18:09] loicjaouen commented on #792
We are in `v1.1.0` right now.

[2018-03-26 10:34] subotic opened #795 "Allow changing of user passwords by system administrator"
needed for https://github.com/dhlab-basel/Salsah/issues/128

[2018-03-27 07:47] subotic commented on #792
no, everything before this PR is `0`, meaning currently from commit https://github.com/dhlab-basel/Knora/commit/cea8e000d01c3d02f4b752bf0bd7731e494e2302.

yes

I plan to merge this in April, so if no commits are added after tomorrow that need upgrading, then `v1.3.0` will be `0`. In the case that there are any commits after tomorrows release that need data upgrading, then I will first make a relea

[2018-03-27 09:31] musicEnfanthen commented on #249
Since July 2017 SHACL is a W3C recommendation.

Some other interesting links:

- https://www.linkedin.com/pulse/meet-shacl-next-owl-kurt-cagle

- https://semanticarts.com/blog/rdf-shapes/

[2018-03-27 17:11] tobiasschweizer commented on #793
We designed KnarQL for the querying of resources' properties (as defined in project ontologies) and their values. The creationDate/lastModificationDate of resources and values, however, are properties controlled by the system and I haven't thought about querying them in KnarQL at all.

A `knora-api:Date` is actually a `knora-base:DateValue` (support of different calendars and precisions), but the

[2018-03-28 08:08] kilchenmann commented on #661
Any timeframe for this issue? Otherwise I have to postpone my [issue #84 on salsah](https://github.com/dhlab-basel/Salsah/issues/84)

[2018-03-28 08:21] subotic opened #797 "GenerateContributorsFile broken"
@benjamingeer could you please take a look when you have time? The following error happens with and without a supplied token:

[code]

[2018-03-28 08:22] benjamingeer commented on #797
Will do this today.

[2018-03-28 08:23] subotic commented on #797
No stress. I'm just skipping this step :-)

[2018-03-28 08:53] subotic commented on #661
Maybe for `v1.5.0`.

[2018-03-28 12:02] #735 closed

[2018-03-28 13:09] gfoo commented on #793
👍 Good news if there is a way to get the creationDate/lastModificationDate with KnarQL, will be very helpfull. I have no use case currently for label, probably more needs about permissions (to know if a user can modify a Resource without making a new http call to know that), but I didn't make any tests.

I'm still using the v1 API, but my plan is to more easily map my Typescript classes with Ontol

[2018-03-28 13:29] loicjaouen opened #800 "wrong search result with two list values"
- let's start with a `anything:Thing` that has two list elements:
<img width="327" alt="capture d ecran 2018-03-28 a 15 16 48" src="https://user-images.githubusercontent.com/3933654/38031354-46444ea6-329b-11e8-926d-a8aa3ce36f22.png">

- let's make a request on the first list element

  http://localhost:3333/v1/search/?searchtype=extended&property_id=http%3A%2F%2Fwww.knora.org%2Fontology%2Fanything

[2018-03-28 14:35] tobiasschweizer opened #802 "KnarQL: allow querying for rdfs:label, lastModificationDate etc."
Currently, KnarQL only allows for queries involving value or linking properties.

There should also be support for `rdfs:label` and `lastModificationDate` etc.

This means that all these properties are also made available in knora-api simple schema.

@gfoo Would you like to take part in implementing this?

[2018-03-28 14:36] tobiasschweizer commented on #802
relates to https://github.com/dhlab-basel/Knora/issues/793#issuecomment-376880520

[2018-03-28 15:14] #783 closed

[2018-03-28 17:26] benjamingeer opened #803 "Remove remaining dependencies on API v1 code from API v2 code"
I did most of this in #796. What's left:

* `ConstructResponseUtilV2` uses:
  * `StandoffEntityInfoGetResponseV1`
  * `KnoraCalendarV1`
  * `KnoraPrecisionV1`
  * `MappingXMLtoStandoff`
* `TextValueContentV2` uses `StandoffTagUtilV1`
* `StandoffAndMapping` uses:
  * `StandoffTagV1`
  * `MappingXMLtoStandoff`
* `SearchResponderV2` uses `JulianDayNumberValueV1`
* `OntologyResponderV2` uses `Standoff

[2018-03-29 14:22] loicjaouen opened #804 "no logout"
When salsah 1.5 logs out:
- it sends a request `HTTP DELETE` request on route `/v1/session`
- in Knora's response, there is a header `Set-Cookie: KnoraAuthentication=deleted; Expires=Thu, 01 Jan 1970 00:00:00 GMT`
- still if we send another request (like a `HTTP GET /v1/vocabularies`) the header with `Cookie: KnoraAuthentication=<actual previous session value>` is sent back

The browser should hav

[2018-03-30 07:39] subotic commented on #804
AFAIK the `session` gets deleted on the `webapi` server, so when the client sends the "old" session id, he will not be authenticated. Why the cookie is not deleted on the client I don't know. Maybe the specs have changed. Anyway, this is old school stuff and shouldn't be used today anymore.

Also, sessions are only used in `v1` authentication. In `v2` authentication, tokens are used, which Salsah2

[2018-03-30 09:33] loicjaouen commented on #804
Exactly, that's how the problem showed up, users logging out and getting `unauthorized access` which they did not understand as they were just logging out to demonstrate the platform to external people.

the whole salsah 1.5 is old school and while it shouldn't be used anymore, it's the only production front-end we currently have to offer.

[2018-03-30 09:35] loicjaouen commented on #804
neither do I 😢

[2018-03-30 09:55] loicjaouen commented on #804
The procedure seems completely legitimate.

What should be tested is:
- [ ] add `path` in the `set-cookie` header
- [ ] test without the browser "restore session" option ([suggested here](https://stackoverflow.com/questions/5285940/correct-way-to-delete-cookies-server-side#5285982))

[2018-04-03 09:34] tobiasschweizer commented on #787
This would have to happen when you update the production server on which beol beta is running. The biblio data ttl file would have to be adapted (the prefix definition for biblio and the biblio project's IRI) and loaded back into the triplestore. Emacs works pretty good to edit big text files like ttl dumps :-)

[2018-04-03 09:35] tobiasschweizer commented on #787
@subotic I know the handy emacs commands for search and replace operations. Let me know if I can help :-)

[2018-04-03 09:38] tobiasschweizer commented on #803
@benjamingeer Do you think refactoring v1 standoff responder and messages should also be part of #699?

[2018-04-03 09:45] benjamingeer commented on #803
Which do you think would be easier? Doing a simpler refactoring first to remove these dependencies (e.g. by copying and pasting code into V2), and then doing #699 separately? Or doing both at the same time?

[2018-04-03 09:47] tobiasschweizer commented on #803
I guess adding new stuff to the existing v1 version wouldn't make any sense at all, so a simple refactoring at the very beginning seems reasonable to me.

[2018-04-03 09:49] benjamingeer commented on #803
OK, would you mind doing this while I work on #800? I'd really like to have a V2 codebase free of V1 code before adding more new features.

[2018-04-03 10:16] benjamingeer opened #805 "Refactor the classes representing permissions"
With #796 we have two representations of permissions:

* `EntityPermission`, an ordered trait representing a hierarchy of permissions. Each `EntityPermission` implicitly refers to some particular entity to which access is restricted, and can provide an integer representation of itself as needed in API v1, as well as its string abbreviation.
* `PermissionADM`, which can represent permissions that a

[2018-04-03 12:56] tobiasschweizer commented on #803
I will have a look and make an outline of the required refactoring and estimate the time I need.

[2018-04-03 15:45] tobiasschweizer commented on #802
Whatever you manage to do is highly appreciated. Please let me know about your priorities.

[2018-04-04 14:04] benjamingeer opened #807 "Travis repeatedly failing because of strange permissions error"
#806 keeps failing because of this:

[code]

[2018-04-05 08:02] #807 closed

[2018-04-06 07:01] tobiasschweizer commented on #630
I am getting back to standoff, finally :-)

Consider the following query (in contrast to the one above https://github.com/dhlab-basel/Knora/issues/630#issue-264502893):

[code]

The query searches for a string that is both marked up as underlined and a paragraph, but does not say that there is a relation between underline and paragraph (e.g., if you think about different standoff layers). The prob

[2018-04-06 08:16] tobiasschweizer commented on #803
I will try to refactor `StandoffResponderV1` and `StandoffMessagesV1` as well as `StandoffTagUtilV1` so that V1 calls V2 but V2 is self contained. We did this for `OntologyResponderV1` and `OntologyResponderV2`.

Also I want to do #396.

[2018-04-06 08:19] tobiasschweizer commented on #803
I guess this refactoring will take a couple of days, probably most of next week.

[2018-04-06 08:56] #800 closed

[2018-04-06 09:53] tobiasschweizer commented on #803
@benjamingeer I have just realized that I am about to dive into V2 JSON-LD handling :-)

this time also turning JSON-LD into case classes for the creation of a mapping, but the logic is already there thanks to the ontology writing and updating parts you did :-)

[2018-04-06 12:35] benjamingeer commented on #773
When #806 is merged (hopefully next week), the Knora API server will check ontologies much more strictly on startup.

[2018-04-06 13:04] janCstoffregen commented on #773
Thanks for the hint, I posted a question, I'll be in Basel next week, could I step by? That might be faster than through Github..

[2018-04-06 13:42] benjamingeer commented on #773
I won't be in the office again until 30 April.

[2018-04-06 13:46] janCstoffregen commented on #773
ok, thanks for this info, I will try to reach you over github then if needed.

[2018-04-09 09:57] SepidehAlassi opened #813 "Allow querying for ListNodes"
Followings should be added:
- route for requesting ListNodes
- query for ListNodes (functionality for Knarql)
Since this functionality is necessary for querying topics in BEOL, I would like that we prioritise resolving this issue.

[2018-04-09 15:06] tobiasschweizer commented on #813
The following query gets all resources of type `anything:Thing` that have a `anything:hasListItem`:

[code]

If we want to restrict this query to a specific list item, we have to decide whether this should be an `xsd:string` or an Iri. We could modify the search logic for `xsd:string` in a way so that a value for the list node's`rdfs:label` can be used in the Filter:

[code]

But an `rdfs:label` i

[2018-04-09 16:47] tobiasschweizer commented on #813
How is the use case of a list node different from a resource reference? Couldn't they be handled the same way?

If we want to serve a resource in simple schema and there is a linking property, we would have the same problem (display it as an object, not as a literal), right? The main difference between simple and complex schemas is that we hide the value objects, still the actual value might be an

[2018-04-09 18:32] tobiasschweizer commented on #813
I just wanted to say that both might be displayed as an object when serving them in simple schema, I did not mean to imply that list items / nodes are resources.

I get it, but didn't you also have the idea of using a custom SPARQL function for standoff search?

I think your suggestion of using `knora-api` complex schema is reasonable, but mixing both (complex and simple) might confuse the user.

[2018-04-09 18:41] tobiasschweizer commented on #813
@benjamingeer Can I call you tomorrow (FaceTime)?

[2018-04-09 18:41] benjamingeer commented on #813
Sure.

[2018-04-09 18:42] tobiasschweizer commented on #813
Great. Have a good evening!

[2018-04-09 18:42] benjamingeer commented on #813
Yes, but today I thought: why make another function when we already have the complex schema? Instead of an extra function, we can just use what we already have:

[code]

[2018-04-10 09:14] SepidehAlassi commented on #813
![](https://github.trello.services/images/mini-trello-icon.png) [search for listNode properties](https://trello.com/c/pFv1kZKH/89-search-for-listnode-properties)

[2018-04-10 09:16] benjamingeer opened #816 "Integrate analytical code into a Knora project and run it in SALSAH"
Here’s the web page of a journal article. There is a tab 'Code and Datasets’. You can run all the code to reproduce the article's analyses in your web browser!

https://ieeexplore.ieee.org/document/8259364/algorithms?reload=true

Can we aim to do this in Knora/SALSAH?

They’re using this platform:

https://codeocean.com/

The CodeOcean docs say they can support any programming language:

![screen

[2018-04-10 09:24] SepidehAlassi commented on #816
I like the idea pretty much as well. Specially that Matlab code can be executed as well, it will be a nice feature for BEOL.

[2018-04-10 13:37] benjamingeer commented on #813
Result of discussion with @tobiasschweizer: in May we'll look together at allowing the complex schema to be used for list values and text values in KnarQL.

[2018-04-10 14:46] tobiasschweizer opened #818 "Ontology Information about XSLTransformation"
http://0.0.0.0:3333/v2/ontologies/allentities/http%3A%2F%2Fapi.knora.org%2Fontology%2Fknora-api%2Fv2

does not include `XSLTransformation` which is defined in `knora-base`:

[code]

Could the problem be that it is not an immediate subclass of `knora-base:Resource` and the current implementation only returns direct children?

[2018-04-10 14:55] benjamingeer commented on #818
This isn't a bug. `XSLTransformation` is excluded from `knora-api` by `KnoraApiV2WithValueObjects.KnoraBaseClassesToRemove`. I did that because there were no API operations that would allow the client to use it. If you're adding such an operation, you can undo the exclusion.

That's not how it works. The implementation returns everything in `knora-base` that isn't explicitly excluded by `KnoraApiV

[2018-04-10 15:02] tobiasschweizer commented on #818
Ok, thanks.

In the GUI someone can author an extended search for a `TextRepresentation` which returns `XSLTransformation`. And then the GUI could not find any information about it in the cache.

So I suggest that I simple remove the exclusion.

[2018-04-10 15:03] benjamingeer commented on #818
OK, and then maybe you could also add an API v2 operation for creating an `XSLTransformation`. :)

[2018-04-10 15:05] tobiasschweizer commented on #818
It is simply a subclass of  `TextRepresentation` which is a resource. So the resources route can be used.  Otherwise BEOl wouldn't work at all ;-)

[2018-04-10 15:06] benjamingeer commented on #818
Just kidding. I hope to add the API v2 resource creation route before I retire. :)

[2018-04-10 15:06] #726 closed

[2018-04-10 15:07] tobiasschweizer commented on #818
aha, you tried to trick me :-)

[2018-04-11 06:15] sofiag commented on #816
This is super! I am now still in Amsterdam for a friend's thesis defence and I talked a lot with ex-colleagues. A couple of them asked me about the program I was using back in the early 2000's and if they can use it too. It is stored probably in some floppy disk somewhere in a long-forgotten drawer... :-O If they are lucky it is on a CD....
This subject really came up a lot with me the last two da

[2018-04-11 11:33] subotic opened #820 "Evaluate Web Authentication [WebAuthn]"
https://www.w3.org/TR/webauthn/

[2018-04-11 12:02] #795 closed

[2018-04-11 12:31] tobiasschweizer opened #821 "TestingUtilities"
`webapi/src/it/scala/org/knora/webapi/util/TestingUtilities.scala` provides some functions to check the response of a HTTP request to Knora.

However, if the methods `checkResponseOK` and  `getResponseJson` are both used, the request gets sent twice.

Both methods call `getResponseString` which executes `singleAwaitingRequest`. So the same request is done twice.

[2018-04-12 10:20] tobiasschweizer opened #823 "Error when logging in from SALSAH 1 GUI"
When trying to log in from the SALSAH 1 GUI I get an error (on branch `wip/standoff_v2_refactoring`).

route `http://localhost:3333/v1/session`

I guess something goes wrong when the submitted password is turned into a hash to compare it with the one in the db.

[code]

[2018-04-12 11:54] subotic commented on #823
@tobiasschweizer fix is in `develop`

[2018-04-12 11:56] subotic commented on #823
@tobiasschweizer if you cannot merge the whole branch, then you can cherrypick this commit 239bd004f2b649b3d7f607f9c4abec6462b03a1b

[2018-04-12 12:06] tobiasschweizer commented on #823
@subitoc Ok, merged `develop` in my branch and i works :-)

Thanks!

[2018-04-12 12:06] #823 closed

[2018-04-13 16:04] tobiasschweizer commented on #650
Ok, I should do it soon:

<img width="343" alt="431" src="https://user-images.githubusercontent.com/6000023/38745540-1a99b028-3f45-11e8-9f7e-94aae8eee167.png">

[2018-04-16 12:11] janCstoffregen opened #825 "Import Knora Ontologies"
Dear dhlab,
when I import data to graphdb with the script graphdb-free-init-knora-test.sh I get the message
[code]

When I import it again, I get the message
[code]
The second issue was already solved by @loicjaouen here: https://stackoverflow.com/questions/38503102/error-multiple-id-statements-for-repository-id-on-repository-drop-create/38504966?noredirect=1#comment86715981_38504966
Thank you ver

[2018-04-16 12:25] janCstoffregen commented on #825
it's not running in docker, ok, so I just have to change the path of this file, do you know where it is located?

[2018-04-16 12:27] janCstoffregen commented on #825
or should I run another script?

[2018-04-16 12:28] subotic commented on #825
take a look at `graphdb-se-local-init-knora-test.sh` vs `graphdb-se-docker-init-knora-test.sh`

[2018-04-16 12:29] subotic commented on #825
if you are using `graphdb-free` then you would need to have those two kinds of scripts.

[2018-04-16 12:30] janCstoffregen commented on #825
ok, sorry, I did not realise the graphdb-free refers to the docker image..

[2018-04-16 12:30] janCstoffregen commented on #825
I'll try the other script now

[2018-04-16 12:31] subotic commented on #825
they only difference is in the path to `KnoraRules.pie`.

[2018-04-16 12:33] subotic commented on #825
the `local` one: `"$PWD/KnoraRules.pie"`
the `docker` one: `"/graphdb/KnoraRules.pie"`

[2018-04-16 12:40] janCstoffregen commented on #825
thank you so much, it works now!

[2018-04-16 12:40] #825 closed

[2018-04-16 12:42] subotic commented on #825
you're welcome :-)

[2018-04-16 13:22] tobiasschweizer opened #827 "SALSAH V1 GUI: has other something"
It seems that that the GUI cannot figure out the value type of `something:hasOtherSomething`. Is this a bug?

<img width="706" alt="something" src="https://user-images.githubusercontent.com/6000023/38811300-7abee338-4189-11e8-8a75-1b71b79a3756.png">

[2018-04-16 15:42] loicjaouen commented on #827
Yes, this is a bug.

I would say that it is quite new, here is what we have on our v1.1.0 release:

<img width="594" alt="capture d ecran 2018-04-16 a 17 38 52" src="https://user-images.githubusercontent.com/3933654/38820057-489439ee-419d-11e8-81ad-e4c5512e41d0.png">

one obvious change is the order of the GUI elements.

Do you want me to send the knora response to check the difference?

[2018-04-16 15:47] benjamingeer commented on #827
I’m on holiday but here are a couple of guesses: was the `something` ontology even visible in SALSAH 1 before my last PR merge? Could it be related to the fact that the `something` ontology belongs to the `anything` project (which I think is therefore the only test project with two ontologies)?

[2018-04-16 16:12] tobiasschweizer commented on #827
The API responses seem fine. @loicjaouen Would you like to investigate in the JS source code?

<http://localhost:3333/v1/resourcetypes?vocabulary=http%3A%2F%2Fwww.knora.org%2Fontology%2Fsomething>

[code]

<http://localhost:3333/v1/resourcetypes/http%3A%2F%2Fwww.knora.org%2Fontology%2Fsomething%23Something>

[code]

[2018-04-16 18:32] musicEnfanthen commented on #827
My guess would be that this is a result of the ` "gui_name": null` declaration for `hasOtherSomething` in `restype_info`

[2018-04-16 20:33] tobiasschweizer commented on #827
@musicEnfanthen Excellent guess! Would you like to make a PR fixing the issue (adding `salsah-gui:guiElement salsah-gui:Searchbox` to  https://github.com/dhlab-basel/Knora/blob/2cfedf35d3c28fc62e639a9240ac52c0f333ea02/webapi/_test_data/ontologies/something-onto.ttl#L45)?

[2018-04-17 07:55] musicEnfanthen commented on #827
Yes, I can do it today.

[2018-04-17 07:57] tobiasschweizer commented on #827
Great, thanks a lot!

Please also run the tests from salsah1 (in sbt console) once you created your PR.

[2018-04-17 08:59] tobiasschweizer opened #829 "Documentation about how to run SALSAH1 tests"
Where can I find the documentation about how to tun the browser tests for salsah1?

- Sipi needs to be started with `--config config/sipi.knora-test-config.lua`
- Knora webapi needs to be started with `-r`
- Salsah1 needs to be running and then the tests can be executed with `test` in sbt

[2018-04-17 09:15] subotic commented on #829
You created those tests. Didn't you write a documentation? ;-)

[2018-04-17 09:26] tobiasschweizer commented on #829
Good point. But didn't you add the flag `-r `;-)

[2018-04-17 09:28] tobiasschweizer commented on #829
Joking, let's do it when we are back from holiday.

[2018-04-17 09:30] tobiasschweizer commented on #829
If I find some time, I will do it this week :-)

[2018-04-17 09:35] #827 closed

[2018-04-17 09:40] subotic commented on #829
This would be the steps. I took it from `.travis.yml` and cleaned it up a little:

1. start and initialize graphdb-se
    - ./graphdb-se-docker-init-knora-test.sh
1. start the sipi container (with test config)
    - docker run -d --add-host webapihost:[local IP address] -v /tmp:/tmp -v $HOME:$HOME -p 1024:1024 dhlabbasel/sipi:develop /sipi/local/bin/sipi --config=/sipi/config/sipi.knora-test-docke

[2018-04-23 12:06] #778 closed

[2018-04-23 12:16] benjamingeer opened #832 "Implement data updates in API v2"
I'd like to try to do this by copying most of the code from v1 and refactoring it to use v2 data structures.

[2018-04-24 19:35] #733 closed

[2018-04-24 19:35] #734 closed

[2018-04-26 14:24] #667 closed

[2018-04-26 14:24] #787 closed

[2018-04-30 08:36] subotic opened #834 "Link to Knora-Base PDF not working"
On http://docs.knora.org, there is a link to http://docs.knora.org/assets/pdf/knora-base.pdf which does not work.

[2018-04-30 08:38] subotic commented on #834
@benjamingeer is this PDF still needed? Somehow I thought that you converted everything to RST? Do we need to regenerate the PDF, since changes were made to `knora-base`?

[2018-04-30 08:39] benjamingeer commented on #834
IIRC we stopped generating that PDF when I converted the `knora-base` doc from LaTeX to RST, so the link should just be a link to the HTML that's generated from that RST.

[2018-04-30 08:41] subotic commented on #834
Thanks. Yes, that was also what I was thinking. I will correct it.

[2018-04-30 10:18] benjamingeer opened #835 "Incorrect representation of IRI object values in JSON-LD"
It had been bothering me for a while that there seemed to be no type information attached to IRIs that are object values in JSON-LD. We've been representing them like this:

[code]

This is a problem for both input and output: for input, because we have to parse the string object to guess if it's supposed to be an IRI, and for output, because for #609 we need to convert JSON-LD to Turtle and forma

[2018-04-30 13:09] #834 closed

[2018-04-30 13:11] benjamingeer opened #837 "Travis build failure when generating Sphinx docs"
https://travis-ci.org/dhlab-basel/Knora/jobs/373013256

[code]

Also, there are these warnings:

[code]

We currently use the `ebnf` and `jsonld` lexers in RST. I think upgrading to a more recent version of Sphinx might fix this.

[2018-04-30 13:44] benjamingeer commented on #837
Works now after merging from develop.

[2018-04-30 13:44] #837 closed

[2018-04-30 14:46] benjamingeer commented on #797
This was because a contributor can choose not to enter their name in their GitHub account. Fixed in #833.

[2018-04-30 14:48] subotic commented on #797
Thanks :-)

[2018-04-30 15:10] subotic commented on #837
yes, had the same issue and added a fix :-)

[2018-04-30 15:36] benjamingeer commented on #837
Thank you!

[2018-05-03 11:38] benjamingeer opened #841 "Rename "Knora API v1/v2""
In the Knora documentation, there is a "Knora admin API", which is different from the "Knora API v1/v2". This is confusing. Let's rename "Knora API v1/v2" to something like "Knora data API v1/v2", to distinguish it from the admin api.

[2018-05-03 12:50] loicjaouen opened #842 "Sipi preflight"
# context

## how is an image rendered by Sipi

- A client request an image to Sipi.
- Sipi asks Knora for the client's permissions to view this image ([pre_flight](https://github.com/dhlab-basel/Sipi/blob/develop/config/sipi.init-knora.lua#L40))
- [Knora computes](https://github.com/dhlab-basel/Knora/blob/develop/webapi/src/main/scala/org/knora/webapi/responders/v1/SipiResponderV1.scala#L76) the

[2018-05-03 15:15] loicjaouen opened #844 "Define ARK IDs"
# ARK existing server

here is an ARK ID:

[`http://`NMAH`/`]`ark:/`NAAN`/`Name[Qualifier]

where:

- NMAH, Name Mapping Authority Host, for us is: `ark.dasch.swiss`
- NAAN, Name Assigning Authority Number, for us is: `72163`

resulting in this ark-id for a resource in salsah v1:

`http://ark.dasch.swiss/ark:/72163/0801-31ec6eab334-c.201852`

which is translated into:

`http://data.dasch.swiss/res

[2018-05-03 15:17] loicjaouen commented on #844
@lrosenth , could you review this specs and spread the knowledge of how it works now?

[2018-05-07 13:03] tobiasschweizer opened #845 "Rewrite old RST URLs to docs.knora.org"
After a brief discussion with @benjamingeer, we think that any old link pointing to the RST docs could simply be rewritten to <http://docs.knora.org>.

your suggestion:

Let's do it when you are back. Have a nice time!

[2018-05-09 13:22] SepidehAlassi opened #846 "Gravsearch AND expression failing"
Example:
In query below   FILTER(?text = "Bonjour"  &&  lang(?text) = "fr") is failing

  """
                  |PREFIX knora-api: <http://api.knora.org/ontology/knora-api/simple/v2#>
                  |PREFIX anything: <http://0.0.0.0:3333/ontology/0001/anything/simple/v2#>
                  |
                  |CONSTRUCT {
                  |     ?thing knora-api:isMainResource true .

[2018-05-09 13:26] benjamingeer commented on #846
I think we can do it like this:

My understanding is that `lang(?text) = "fr"` gets replaced by some statements with no FILTER expression; the original expression becomes a placeholder `None`. So after this is done, we can traverse the expression tree, simplifying subexpressions that contain `None` as a branch. For example, if we find an `AND` expression with `None` as a branch, we replace the who

[2018-05-09 13:51] tobiasschweizer opened #847 "SALSAH1 Browser Tests fail"
On  `develop`, the Salsah1 browser tests fail. I remember that they used to work some weeks ago.

Could we have a look at them?

[2018-05-09 13:53] tobiasschweizer commented on #847
Could it be related to the changes in project Iris?

[2018-05-09 14:18] #818 closed

[2018-05-11 07:31] subotic opened #848 "Add Test Coverage"
https://coveralls.io/

[2018-05-11 07:59] tobiasschweizer opened #849 "Check List Iris in GUI Attributes"
When doing the change of project shortcodes, some of the old Iris in the GUI attributes were not changed.

Maybe related to #847

anything ontology
[code]

this should say: `salsah-gui:guiAttribute "hlist=<http://rdfh.ch/0001/treeList>"`

I fixed it fro anything data: https://github.com/dhlab-basel/Knora/pull/833/commits/6ccdbd4c2986cdfd45b27db3059fdc034479f34b

[2018-05-11 12:46] #835 closed

[2018-05-11 12:46] #725 closed

[2018-05-11 12:46] #797 closed

[2018-05-14 12:24] tobiasschweizer opened #850 "Create a V2 route for list nodes"
Create a V2 route that serves list nodes (similar to `org/knora/webapi/routing/v1/ListsRouteV1.scala`).

[2018-05-14 12:25] tobiasschweizer commented on #813
@SepidehAlassi and I will take care of adding a v2 route for list nodes (#850).

@benjamingeer How should we proceed with this issue? I think we need to change the type inspector and the v2 search responder.

[2018-05-14 12:27] benjamingeer commented on #813
Shall we do it together next week? I'll be in the office from Tuesday-Thursday. Will that be soon enough?

[2018-05-14 12:31] tobiasschweizer commented on #813
Yes, I think that would make sense.

[2018-05-14 12:32] tobiasschweizer commented on #850
@benjamingeer Shall we use `SparqlExtendedConstructResponse` to support multiple languages?

[2018-05-14 12:35] benjamingeer commented on #850
Yes, actually I think we should use `SparqlExtendedConstructResponse` for everything, and get rid of `SparqlConstructResponse`, because with `SparqlExtendedConstructResponse` we get type information from the triplestore. But that would require some refactoring.

[2018-05-14 12:36] tobiasschweizer commented on #850
Yes, exactly. See #763.

[2018-05-14 13:03] subotic commented on #850
`ListsResponderADM` returns the list with type information. You would “only” need to transform the case classes to JSON-LD.

[2018-05-14 13:04] tobiasschweizer commented on #850
Great, we will look at it! Thanks a lot.

[2018-05-14 13:09] tobiasschweizer commented on #850
I guess you added this for the admin data.

[2018-05-15 10:06] janCstoffregen opened #853 "Knora Docker Bulk Import - Get xml schems (xsd) - No such file or directory"
Dear dhlab,
I wanted to perform a bulk - import with the Knora - Docker image.

I perform the following request:

[code]

The ontology is found but I get the following error:

[code]

In the docker image, I find the following directory:

[code]

where knoraXmlImport.xsd is

[code]

I wonder if a bulk import is possible at the moment with the Knora  - Docker or if we should get the xml schemas befo

[2018-05-15 10:10] benjamingeer commented on #853
It looks like the Docker image doesn't contain that file in the location where the API server expects it to be. I don't know enough about Docker to know what the best solution would be.

[2018-05-15 10:16] janCstoffregen commented on #853
How the image is built is here: https://github.com/dhlab-basel/Knora/blob/develop/Dockerfile.ci
Maybe it works without the following line?

[code]

Thank you so much for your answer!

[2018-05-15 10:27] janCstoffregen commented on #853
ok, thank you so much, I get the feeling that it works with the compiled Knora, that is enough for now, then I'll wait for the answer, we will work with Knora without sbt stage for now, thank you very much!!

[2018-05-15 10:28] benjamingeer commented on #853
Yes, it does work if you run the API server at the SBT prompt:

[code]

[2018-05-15 11:25] subotic commented on #853
probably loading the file as a resource like here: https://gist.github.com/banjeremy/830803e7b9dffed0aba8436646b906ee

should work. Everything that is stored under `src/main/resources` is also available inside the docker image.

[2018-05-15 11:26] benjamingeer commented on #853
@subotic thanks, I'll try it.

[2018-05-15 12:25] benjamingeer opened #854 "hasClasses and hasProperties produce nonsensical Turtle"
I'm working on serving ontologies in formats other than JSON-LD. When I use RDF4J's Rio library to convert our JSON-LD ontology format to Turtle, I get this nonsensical result:

[code]

So the object of `hasClasses` (or `hasProperties`) is a blank node. Inside that blank node, each class IRI (or property IRI) is a predicate that points to itself. This makes no sense, but I think it's an accurate r

[2018-05-15 12:28] benjamingeer commented on #854
We could also use `"@graph"` instead of `schema:itemListElement` when returning resources.

[2018-05-15 12:48] benjamingeer commented on #854
This even seems to be the recommended way to put multiple items at the top level when using schema.org:

https://stackoverflow.com/a/30506476

[2018-05-15 13:39] benjamingeer opened #855 "sbt stage fails"
SBT `stage` fails on branch `wip/ontology-doc-formats` (PR #851) since I added a dependency on `rdf4j-runtime` to `WebapiBuild.sbt`:

[code]

I added that dependency because I need `rdf4j-rio-jsonld`. I tried adding a dependency just on that library, but for some reason, the Scala complier still couldn't find it. When I added the dependency on the whole `rdf4j-runtime`, the Scala compiler found th

[2018-05-15 15:11] #736 closed

[2018-05-16 08:32] gfoo opened #856 "KnarQL and IRI constraint ?"
Hi all,
I didn't find a way to get a resource knowing its IRI ? did I miss something ?
Of course I could use the "v2/resources" endpoint but my deal is to construct the result I need with only my required properties and possibly neighbor's resources (with their properties)  :

[code]
_error : "org.knora.webapi.NotImplementedException: Value type http://api.knora.org/ontology/knora-api/simple/v2#Re

[2018-05-16 08:34] tobiasschweizer commented on #856
When you do a KnarQL query, it is assumed that you do not know the Iri of the thing you are looking for.

Instead you should make a resource request.

[2018-05-16 08:34] benjamingeer opened #857 "Some datatypes need to be specified in JSON-LD"
For conversion from JSON-LD to Turtle to work, some datatypes need to be made explicit in JSON-LD, e.g.:

[code]

Otherwise they will be represented as `xsd:string` in Turtle.

[2018-05-16 09:12] benjamingeer commented on #855
There's a workaround in #851.

[2018-05-16 09:13] benjamingeer commented on #853
That seems to work (thanks @subotic). The fix is in #851.

[2018-05-16 09:15] gfoo commented on #856
oups, I didn't notice this (new) way :)

`http://host/v2/resourcespreview/resourceIRI(/anotherResourceIri)*`

thanks

[2018-05-16 09:15] #856 closed

[2018-05-16 09:30] tobiasschweizer commented on #856
no problem ;-)

[2018-05-16 09:54] janCstoffregen commented on #853
thank you so much! Does this mean I can checkout this branch and wip/ontology-doc-formats, create the knora docker image and then put it in the /webapi/config directory in the docker - image?

[2018-05-16 09:58] benjamingeer commented on #853
I don't know how the Docker images are built, but you said that the current Docker image already has the file `knoraXmlImport.xsd` in the directory `/webapi/config`. The fix should just enable the API server to load the file from that location. I haven't tried building a Docker image to test it, though.

[2018-05-16 10:01] benjamingeer opened #859 "Don't allow projects to subclass ForbiddenResource or Representation"

[2018-05-16 10:01] janCstoffregen commented on #853
Ok, I can test it! Is there sth in the branch wip/ontology-doc-formats that does not work? Or can we use it for our bulk . import for now?

[2018-05-16 10:18] janCstoffregen commented on #853
I will built the docker image and test it.

[2018-05-16 11:05] kilchenmann opened #860 "Update .gitignore"
Can someone (in  the next pull request) update .gitignore to ignore the files in `triplestores/graphdb-se/`?
Since we're using graphdb-se-8 I had about 600 uncommited files all stored in `triplestores/graphdb-se/`. I'm able to change the .gitignore file, but I don't want to make an own pull request for only this small change.

[2018-05-16 11:19] benjamingeer commented on #860
I don't have that directory. Where does it come from in your setup?

[2018-05-16 12:18] janCstoffregen commented on #853
Hi, I tried it with the new docker image .. I did a get request to

[code]
and to incunabula in the same way..

I get
[code]

Any ideas? Sth changed, because the error is different now, I have no idea what it could mean though..

Thank you very much for your answer and best regards,
Jan

[2018-05-16 12:18] loicjaouen commented on #853
as a work-around, on an existing docker running webapi, if you connect to it using:

[code]

and once on the docker instance, copy the file where knora expects it:

[code]

and it works.

[2018-05-16 12:20] janCstoffregen commented on #853
great, I'll try it, thank you!!

[2018-05-16 12:28] benjamingeer commented on #853
Probably there's an error message and Scala stack trace on the Knora console log, which would give more details. But I can't really debug this, since I don't know how the Docker image is created.

[2018-05-16 12:59] loicjaouen commented on #853
the image that we post on docker-hub:
https://hub.docker.com/r/dhlabbasel/webapi/

uses this docker file:
https://github.com/dhlab-basel/Knora/blob/develop/webapi/Dockerfile

[2018-05-16 13:03] janCstoffregen commented on #853
this dockerfile did not work today though, I am not sure why, at least on this branch.. , I used an older version and it worked. I used this version (which is one of Ivans older versions.. , a little bit adapted ) https://github.com/nie-ine/Quick-Installation-Guide---Knora-Salsah-Sipi-GraphDB/blob/master/Knora/Dockerfile

[2018-05-16 13:14] janCstoffregen commented on #853
Sorry, this is the file that did not work for me, not the one you posted: https://github.com/dhlab-basel/Knora/blob/develop/Dockerfile.ci But maybe its only for ci.. so please forget what I posted before.

[2018-05-16 13:16] benjamingeer commented on #853
The fix on my branch is just these changes in `ResourcesRouteV1.scala` and `FileUtil.scala`:

https://github.com/dhlab-basel/Knora/pull/851/files#diff-4fcd2a24123e105dc65d5b7c68264d26

https://github.com/dhlab-basel/Knora/pull/851/files#diff-f088ccadf329d3fa4c189bfabb0e1936

You could make a new branch just for that fix.

[2018-05-16 13:52] janCstoffregen commented on #853
ok, I created the Docker image with https://github.com/dhlab-basel/Knora/blob/develop/webapi/Dockerfile and it works now, thank you very much! I'll close the issue if you don't mind.

[2018-05-16 13:54] benjamingeer commented on #853
Thanks! Please leave the issue open, because our policy is to close issues when the relevant PR is merged. This will happen automatically when #851 is merged.

[2018-05-16 13:55] benjamingeer commented on #854
@tobiasschweizer Do we still need to be able to return more than one ontology per API response? Or does SALSAH 2 only ever request one ontology at a time?

[2018-05-16 13:58] janCstoffregen commented on #853
ok, thanks for letting me know and for your help!

[2018-05-16 14:04] tobiasschweizer commented on #854
It is possible that SALSAH asks about more than one ontology at the time. When a getting a list of resources, SALSAH collects their types and asks the ontology cache service about them calling `getResourceClassDefinitions `.

`src/app/model/services/ontologycache.service.ts`
[code]

So the answer is yes. more than one ontology could be requested in case you have a resources of types defined in dif

[2018-05-16 14:16] benjamingeer commented on #854
Thanks. The problem is that a Turtle document can't represent more than one graph. Would it be possible for `getAllEntityDefinitionsForOntologiesFromKnora` to make one API request per ontology?

[2018-05-16 15:09] tobiasschweizer commented on #854
That would surely be possible. In that case, `getAllEntityDefinitionsForOntologiesFromKnora` would have to be adapted in a way so that it does one query per ontology. And this would involve an adaption of `getAllEntityDefinitionsForOntologies` in `ontology.service.ts`.

[2018-05-16 15:10] benjamingeer commented on #854
OK, thanks. So I will change the ontology requests and responses so only one ontology can be requested at a time.

[2018-05-16 15:10] tobiasschweizer commented on #854
And we should then add a test case to `src/app/model/services/ontologycache.service.spec.ts` which asks for resource Iris from different project ontologies so we can check if it behaves correctly.

[2018-05-16 15:11] benjamingeer commented on #854
Let's do it together next week, that can be my exercise for learning how the Angular code works. :)

[2018-05-16 15:11] tobiasschweizer commented on #854
Ok, great! It shouldn't be rocket science ...

[2018-05-17 14:30] tobiasschweizer commented on #630
57a9b8569b8d7a7ed55147034fac4486b25c96e4 provides a functionality to restrict a full text search to a certain standoff class.

[2018-05-18 10:13] ezbinden opened #861 "Link in docs.knora.org not working"
While reading the new Knora Documentation I found out that the link in the Knora Documentation Header on top right doesn't work. Instead of pointing to https://github.com/DHLab/Knora/docs it should point to https://github.com/DHLab/Knora/tree/develop/docs.

[2018-05-18 20:34] benjamingeer opened #863 "Simplify prefix labels when possible"
The current way of making ontology prefix labels is safe but verbose: for `http://0.0.0.0:3333/ontology/0803/incunabula/simple/v2#` we get `p0803-incunabula`. We could check for name collisions in the response as a whole, and use just `incunabula` if possible.

[2018-05-25 14:45] #850 closed

[2018-05-25 20:36] lrosenth opened #864 "Deleting a project does not work"
Using the admin-API  ".../admin/projects/url-encoded-project-iri in a DELETE request does not delete the project (which is empty otherwise), but just returns the project data like a GET request.
I testes the feature both from PHP and postman – same result

[2018-05-26 11:27] subotic commented on #864
This property should change `knora-base:status` to `false`.

Someday, we can check if the project IRI is used anywhere. If not, then we could really delete it.

[2018-05-26 13:03] lrosenth commented on #864
Ok, I got it. Thanks!!

Lukas

Von meinem iPhone gesendet

Am 26.05.2018 um 13:24 schrieb Ivan Subotic <notifications@github.com<mailto:notifications@github.com>>:

We don’t actually delete anything. The project should be deactivated though, i.e. status=false

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/dhlab-basel/Kn

[2018-05-29 13:42] benjamingeer opened #865 "Project shortcodes aren't stored in upper case"
When `ProjectsResponderADM.projectCreateRequestADM` creates a project, it calls `StringFormatter.getGeneralInstance.validateProjectShortcode`, which returns the shortcode in upper case. But `projectCreateRequestADM` doesn't use this return value, and saves the shortcode as provided in the request, which could be in lower case.

`SmartIri` uses the return value of `validateProjectShortcode` when co

[2018-05-29 13:48] benjamingeer commented on #865
A fix is in #851.

[2018-05-29 16:35] benjamingeer opened #866 "Add API operations for building and changing lists"
This could be done like the ontology editing API: you could add or edit only one node at a time, and you wouldn't be able to remove a node if it was used in data (this would have to look at the values of `guiAttribute`).

Should it be in the admin API or in API v2?

@lrosenth

[2018-05-29 21:01] lrosenth commented on #866
@subotic: This could be something we're doing together. This would be great to have!

Am 29.05.2018 um 18:36 schrieb Benjamin Geer <notifications@github.com<mailto:notifications@github.com>>:

This could be done like the ontology editing API: you could add or edit only one node at a time, and you wouldn't be able to remove a node if it was used in data (this would have to look at the values of gui

[2018-05-29 21:14] subotic commented on #866
There is already an issue for this #511 and It is on my todo list.

[2018-05-29 21:15] subotic commented on #866
The plan was to have it in the admin API.

[2018-05-30 05:48] #866 closed

[2018-05-30 12:49] #609 closed

[2018-05-30 12:49] #854 closed

[2018-05-30 12:49] #855 closed

[2018-05-30 12:49] #857 closed

[2018-05-30 12:49] #853 closed

[2018-05-30 12:49] #863 closed

[2018-05-30 12:49] #865 closed

[2018-05-30 13:56] benjamingeer commented on #841
On second thought, let's leave it as is and just document it.

[2018-05-30 13:56] #841 closed

[2018-05-31 07:57] benjamingeer opened #868 "Check docs for errors on Travis"
Could Travis run this during tests?

`typedoc --out target/site/api-v2 --readme none --name "Knora API V2 JSON-LD Format Documentation" --module commonjs src/api-v2`

@tobiasschweizer

[2018-05-31 07:57] benjamingeer commented on #868
If it prints an error, that means there's a syntax error in the docs.

[2018-05-31 09:33] benjamingeer commented on #846
The way the filter statements are generated at the moment for `lang`, this can't work. Imagine this filter in Gravsearch:

[code]

This will generate additional statements to check for both conditions, and both sides of the expression will be removed. But all those statements must then match to get a search result, so in effect the OR becomes an AND, which is wrong. Similarly imagine this:

[code]

[2018-05-31 09:37] tobiasschweizer commented on #846
Ok, I understand! But how would that work for fulltext search? We allow users to use the match function, but internally we are creating a statement using the Lucene index.

[2018-05-31 09:39] benjamingeer commented on #846
I'll add a check to make sure that `match` is at the top level of the FILTER, and throw an exception if it isn't.

[2018-05-31 09:42] benjamingeer commented on #846
By the way, thank you for refactoring `transformFilterPattern`, it's so much easier to work on this way! :)

[2018-05-31 10:11] tobiasschweizer commented on #846
Great!

Also great! I think your idea with the design doc for gravsearch is good, we should try to describe what is implemented in a more formalized way. And I think we will find a lot of inconsistencies.

[2018-05-31 13:18] benjamingeer opened #871 "Allow a Gravsearch query to specify the IRI of the main resource"
This would be useful for selecting the properties to be returned and for getting information about linked resources.

@tobiasschweizer @gfoo

[2018-05-31 13:20] tobiasschweizer commented on #871
@benjamingeer Great, it is like a configurable full resource request!

[2018-05-31 13:21] gfoo commented on #871
exactly ! 👍

[2018-06-01 09:12] subotic opened #874 "Use project shortcode instead of knora as the Sipi IIIF prefix"
Currently, `knora` is used as the prefix, so that under the `images` folder a `knora` folder holds all images. The goal is to have a folder per project, and for this, we can use the project shortcode.

I suppose the SipiResponder will need to be changed and the lua scripts.

The corresponding issue in Sipi: https://github.com/dhlab-basel/Sipi/issues/233

[2018-06-01 09:20] loicjaouen commented on #874
That would be great, it is not always obvious right now to do some maintenance tasks because of that.

But I thought it would be against Sipi nature -a neutral media server-, and thus prone to future problems, to increase it with more of Knora knowledge.

[2018-06-01 14:50] lrosenth opened #875 "knora-admin ontology: project description cardinality"
@subotic @benjamingeer
The old salsah now supports multiple project descriptions (for different languages). Therefore the
cardinality in knora-admin.ttl for the project descriptions should be changed to either

                              [ rdf:type owl:Restriction ;
                                owl:onProperty :projectDescription ;
                                owl:minCardinality "0"^^xsd:n

[2018-06-01 14:54] benjamingeer commented on #875
Seems fine to me. In that case I guess it should also have a language tag.

[2018-06-01 15:04] subotic commented on #875
It already does :-) It is a `Seq[StringLiteralV2]`. We would only need to change `knora-admin.ttl` and check that the payload for creating a project must at least contain one project description.

[2018-06-01 21:01] lrosenth opened #876 "Admin-API inconsistency with ontology IRI"
@subotic @benjamingeer

The calls to get an ontology return the hex-code of the project id in upper case, but  GET/PUT/DELETE do not recognize  the project id hex code is in lower or upper case!

[2018-06-01 21:21] lrosenth commented on #876
Wrong version....

[2018-06-01 21:21] #876 closed

[2018-06-01 22:45] lrosenth commented on #875
I just tried it out locally. Seems to be fine by just changing the cardinality in knora-admin.ttl...

Thanks a lot!! I'm slowly progressing in creating the ontologies from the PHP-Salsah :-)

Am 01.06.2018 um 17:05 schrieb Ivan Subotic <notifications@github.com<mailto:notifications@github.com>>:

In that case I guess it should also have a language tag.

It already does :-) It is a Seq[StringLitera

[2018-06-04 11:23] subotic opened #877 "SSL Deployment issues"
There are some issues now that HTTPS is enforced. See https://github.com/orgs/dhlab-basel/teams/dasch/discussions/15

[2018-06-04 11:27] subotic commented on #877
Maybe in `Salsah2` the app uses the environment variable, which now includes `https`, in creating the requests? Maybe @tobiasschweizer has an idea?

Or at least, describe the steps to reproduce the issue?

I should be in the office around 14:30, then we could talk over Skype.

[2018-06-04 12:08] tobiasschweizer commented on #877
I think the http service has to know how to connect to Knora

[2018-06-04 12:24] gfoo opened #878 "Gravsearch incomings filtering"
Hi,
in our ontology we have two classes (Bilbio & Person) linked to the same class (Project) using the same link (isInProject). The Gravsearch reponse is quite strange :
[code]
when I try to get the incoming resources (1 biblio and 1 person in my data set) of a Project having ones :
[code]
There is no problem with permission because I can get the incoming Bilbio or Person linked to the project  (u

[2018-06-04 13:49] subotic commented on #877
I have found the problem, at least for this error. The configuration variable which is used in the Gravsearch template needs to be `http://api.01.unibas.dasch.swiss` and not `https://api.01.unibas.dasch.swiss` (always `http`).

I'm redeploying with the new config and will let you know how it goes.

[2018-06-04 13:54] tobiasschweizer commented on #877
@subotic That's great!

I think we just need to distinguish between requests to Knora and IRIs we need inside the queries.

[2018-06-04 14:13] subotic commented on #877
ok, this seems to have fixed the issue. @tobiasschweizer could you maybe take a look at http://beol-test.dasch.swiss?

[2018-06-04 17:30] tobiasschweizer commented on #878
Tomorrow I can have a look at it.

[2018-06-04 18:19] tobiasschweizer commented on #878
I have an idea: could you try to run your query on this branch: wip/gravsearch-standoff

We fixed a bug there for optional dependent resources, maybe this solves your problem

[2018-06-04 19:28] gfoo commented on #878
well done, it works. No hurry for me, I will work with this branch till you merge.
Anyway, I have to found a way to let this union optional ... yes I know, no nested blocks :)
thx a lot.

[2018-06-05 07:11] tobiasschweizer opened #879 "Gravsearch: filter inside Optional is ignored"
Consider the following query:

[code]

The prequery looks like follows:

[code]

The filter inside the `OPTIONAL` is not regenerated in the prequery.

The result is this:

[code]

I would expect that the name is only returned if it is "Meier". But therefore we need the filter.

[2018-06-05 08:39] subotic commented on #868
Is this the same thing as in `jsonformattest` in `docs/Makefile`? Would it be enough to just add running of `jsonformattest`?

[2018-06-05 08:43] benjamingeer commented on #868
Yes, that's it.

[2018-06-05 09:04] subotic commented on #868
Should `jsonformattest` run first or last?

[2018-06-05 09:04] benjamingeer commented on #868
Don't know. @tobiasschweizer ?

[2018-06-05 09:05] tobiasschweizer commented on #868
@subotic I am not sure if `jsonformattest`includes both versions of the API (v1 and v2). However, the command is very similar.

[2018-06-05 09:06] tobiasschweizer commented on #868
I think it should run first.

[2018-06-05 09:06] benjamingeer commented on #868
It includes both.

[2018-06-05 09:06] tobiasschweizer commented on #868
great!

[2018-06-05 09:06] subotic commented on #868
jup:

[code]

[2018-06-05 09:09] subotic commented on #868
so, any particular order needed? Current order:

1. jsonformat
1. graphvizfigures

Should `jsonformattest` run before or after those two?

[2018-06-05 09:11] benjamingeer commented on #868
`jsonformat` and `graphvizfigures` are independent.

@tobiasschweizer Do we actually need to run `jsonformat` if we run `jsonformattest`?

[2018-06-05 09:12] tobiasschweizer commented on #868
`jsonformattest ` includes the sample data in the documentation which you actually do not want when you build the docs for knora.org. It just makes sure that the sample data is valid (or the docs actually correctly describe the data).

So I think when you just want to test, you just need  `jsonformattest`. If you want to build the docs for the knora webseite, you can do both to be sure, but `jsonf

[2018-06-05 10:06] #847 closed

[2018-06-05 11:42] #650 closed

[2018-06-05 11:42] #846 closed

[2018-06-05 11:42] #871 closed

[2018-06-05 11:42] #878 closed

[2018-06-05 11:42] #879 closed

[2018-06-05 16:18] benjamingeer opened #881 "Implement type inference for Gravsearch"
* Change `TypeInspector.inspectTypes` so it takes additional parameters enabling it to send Akka messages, and returns `Future[TypeInspectionResult]`.
* Add an `InferringTypeInspector` class that asks `OntologyResponderV2` for information about ontology entities.
  * The algorithm could be iterative: try to infer some types, then see if the result allows you to infer more types, and keep going unt

[2018-06-05 17:13] tobiasschweizer commented on #881
Would the old type annotations still work?

[2018-06-05 19:36] benjamingeer commented on #881
Yes, we can run the two type inspectors one after another: first the one that looks for type annotations, then the one that does inference. The second one would build on the results of the first one.

[2018-06-06 05:32] tobiasschweizer commented on #881
So we would have to throw an error if the type annotations are inconsistent with what the inference delivers, e.g. if the client provides wrong type annotations.

But actually we want to get rid of explicit type annotations, we mainly have to care about backwards compatibility.

[2018-06-06 08:09] benjamingeer commented on #741
The error message says:

[code]

In this case the server is GraphDB. So perhaps this is a bug in GraphDB, which we can't detect with the older version of Akka, because the older version of Akka silently ignored it, while the newer version of Akka reports it correctly by throwing an exception.

[2018-06-06 08:11] tobiasschweizer commented on #741
I will have to run the import again soon. I will provide the data and scripts I use so we can make a test case.

[2018-06-06 08:20] benjamingeer commented on #741
This is the open issue for this in akka-http:

https://github.com/akka/akka-http/issues/1459

[2018-06-06 09:00] benjamingeer commented on #741
@tobiasschweizer If I understand correctly, you had this problem with akka-http 10.0.11. You upgraded to akka-http 10.1.0-RC2 and the problem didn't occur again. We are now on akka-http 10.1.0. Version 10.1.1 is also available.

From the discussion in akka/akka-http#1459, It looks like this problem could have been caused by a [race condition](https://github.com/akka/akka-http/issues/1459#issuecomm

[2018-06-06 09:01] tobiasschweizer commented on #741
I can make a simple test case in python so we can try to provoke this error.

[2018-06-06 09:52] gfoo opened #882 "Gravsearch nested OPTIONAL/UNION"
Hello,
using same model from #878  , I need to let optional my union statement :
[code]
to remove the nested union, the basic (and correct ?) way I found is :
[code]
But, now in my response (using develop branch), the Project1 and Project3 resources are repeated two times and the Project2 (no incomings) is missing, is it normal ?
(on wip/standoff_to_TEI, Project2 is not missing, all resources are

[2018-06-06 10:02] benjamingeer commented on #882
You have two different resources with label `Project3`, and two different resources with the label `Project1`, as shown by the values of `@id`. Is that correct?

[2018-06-06 10:54] #868 closed

[2018-06-06 12:31] gfoo commented on #882
oups, my mistake, sorry :-/

The only problem now is the missing Person1 as Project1 incoming (see the result below).
If I swap the optionals, the incoming biblio is missing.

[code]

[code]

[2018-06-06 12:36] benjamingeer commented on #882
I'll need your data, and the complete Gravsearch query that you're running.

[2018-06-06 12:43] benjamingeer commented on #882
Actually I think perhaps this is correct. I suppose that with `OPTIONAL`, `?isInProject` can have only one value per `?Project`, so you get whichever value is found first. I think what you want is a `UNION`. Have you tried this?

[code]

[2018-06-06 12:44] gfoo commented on #882
The full query is in the previous post.
onto + data : [Archive.zip](https://github.com/dhlab-basel/Knora/files/2076203/Archive.zip)

[2018-06-06 12:47] gfoo commented on #882
With your last query you cannot get a Project without any incomings.
I want "all projects possibly with an incoming Biblios and/or  Persons"

[2018-06-06 12:48] benjamingeer commented on #882
OK, let me have a look, just a sec.

[2018-06-06 12:54] gfoo commented on #882
no hurry :)

[2018-06-06 14:38] benjamingeer commented on #882
OK, I don't see a good way to do this without nesting the UNION in the OPTIONAL, so I think we should allow that. Here's the PR, could you test it? #883

[2018-06-11 13:15] janCstoffregen opened #885 "Property ... has no rdf:type"
Dear dhlab,
I imported some data with the following xml and got the message in Knora performing the following request
[code]

error:
[code]

xml:
[code]

### Version information - Github hashes and docker hub tags
This information is just for documentation purposes, please move on to the next section to start docker-compose.
 - NIE-INE Ontologies: https://github.com/nie-ine/Ontologies f1b35be
 - S

[2018-06-11 13:40] benjamingeer commented on #885
I'm going to guess it's because of this:

[code]

If you remove `owl:TransitiveProperty`, does it work?

[2018-06-11 13:44] janCstoffregen commented on #885
ok, let me check

[2018-06-11 13:58] janCstoffregen commented on #885
The error message has changed, so that is probably what it is, I'll remove the transitive one from all ontologies and try it again.

[2018-06-11 13:58] janCstoffregen commented on #885
http://0.0.0.0:3333/ontology/0055/physical-resource/v2#isPartOf has no rdf:type

[2018-06-11 14:01] benjamingeer commented on #885
Same thing:

[code]

At the very least, this should give a better error message.

Do you actually need `owl:TransitiveProperty`, considering that Knora doesn't use it? Are you using OWL inference?

[2018-06-11 14:11] janCstoffregen commented on #885
ok, it works without the statement
[code]

I don't know if we use it, I'll check and let you know.

Thank you so much for your help!!

[2018-06-11 14:32] benjamingeer commented on #885
No problem, it should be easy to fix. :)

[2018-06-12 08:15] subotic commented on #875
work-in-progress in #886

[2018-06-12 11:33] subotic commented on #404
I will take another stab at this.

[2018-06-13 11:57] #657 closed

[2018-06-13 15:19] benjamingeer commented on #630
We could make a property `standoffTagHasStartAncestor`, a base property of `standoffTagHasStartParent`. We could even make it an `owl:TransitiveProperty`. In GraphDB, we wouldn't need to use a complete set of OWL inference rules; we could just add the rule for `owl:TransitiveProperty` from `builtin_owl2-rl.pie` to `KnoraRules.pie`:

[code]

[2018-06-13 16:35] benjamingeer commented on #630
@tobiasschweizer Could you write:

1. A sample Gravsearch query that looks at standoff nodes using the complex schema.
2. The SPARQL prequery that should result from (1).

[2018-06-13 16:48] #881 closed

[2018-06-13 16:48] #885 closed

[2018-06-13 21:36] benjamingeer commented on #138
Closed by mistake.

[2018-06-13 21:37] benjamingeer commented on #882
Done in #883.

[2018-06-13 21:37] #882 closed

[2018-06-13 23:05] benjamingeer opened #888 "Make a better knora.org web site"
It should:

* Clearly say what Knora is
* Briefly describe Knora's main features (one sentence each), in not-too-technical language, with links to somewhat longer explanations (one paragraph each)
* Provide links to:
  * "Quick start", "Try Knora", "Install Knora", or some such thing
  * Code on GitHub
  * Documentation
  * News (e.g. new releases)

It should not:

* Have an outdated academic conf